div.recaptcha_widget
{
    border: 1px solid #C0C0C0;
    border-left: none;
    border-right: none;
    padding: 10px 0;
}

div.recaptcha_widget div#recaptcha_image
{
    margin-bottom: 10px;
    border: 1px solid #E5E5E5
}

div.recaptcha_widget div#recaptcha_image span
{
    line-height: 22px;
    padding: 0 5px;
}

div.recaptcha_widget input#recaptcha_response_field
{
    padding-left: 10px;
}