button, a.button
{
    color: white;
    text-shadow: 0 -1px 0 rgba(236,125,0,1);

    border: 1px solid #FBA820;
    border-bottom-color: #C26800;

    background: #FFBA20;
    background: linear-gradient(top, #FFBA20, #FF8600);
    background: -moz-linear-gradient(top, #FFBA20, #FF8600);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFBA20), to(#FF8600));
    background: -o-linear-gradient(top, #FFBA20, #FF8600);
    background: -ms-linear-gradient(top, #FFBA20, #FF8600);
}

button:hover, 
a.button:hover {
    background: #FFC320;
    background: linear-gradient(top, #FFC320, #FF8600);
    background: -moz-linear-gradient(top, #FFC320, #FF8600);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFC320), to(#FF8600));
    background: -o-linear-gradient(top, #FFC320, #FF8600);
    background: -ms-linear-gradient(top, #FFC320, #FF8600);
}
button:active, 
a.button:active {
    text-shadow: 0 1px 0 rgba(236,125,0,1);
}
 
 
 
 
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    -moz-box-shadow: 0 0 0 1px rgba(255,186,32,0.5);
    box-shadow: 0 0 0 1px rgba(255,186,32,0.5);
    border-color: #FFBA20;
}



a, a:active, a:visited {
    color: #FF8600
}


div#passInner
{
    background: #FF8600;
}

span.passMessage
{
    color: #FF8600;
}

/* Embedded Login custom:
    should only be applied when the client is the Ios presenter */

html, body
{
    background-color: transparent;
}

.loginpage .inliner,
.loginpage .label
{
    display: none;
}

.loginpage .messageplaceholder
{
    min-height: 20px;
}

.loginpage a,
.loginpage label
{
    font-size: 16px;
}

.loginpage a
{
    text-decoration: underline;
}

.loginpage label
{
    color: white;
}

.loginpage div.formrow:nth-of-type(4)
{
    position: relative;
    top: 120px;
}

.loginpage div.formrow:nth-of-type(5)
{
    position: relative;
    top: -44px;
}

.loginpage div.formrow:nth-of-type(7)
{
    position: relative;
    top: -44px;
}

#rememberMe
{
    float: right;
}