.ls-spr 
{
    background-image: url('../../img/signin/login-sprite.png') !important;
    background-repeat: no-repeat !important;
    *overflow: hidden;    /* IE6-7 */
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (max-moz-device-pixel-ratio: 2) 
{
    .ls-spr 
    {
        background-image: url('../../img/signin/login-sprite@2x.png') !important;
        background-size: 90px auto !important;
    }
}

html, body {height: 100%; margin: 0; padding: 0; background-color: white; 
			text-size-adjust: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}
body {position: relative; z-index: 1; min-height: 100%;	height: auto !important; height: 100%}
body, input, select, textarea, button, label {font-family: arial, helvetica, sans-serif; font-size: 13px; color: #444444}
input, select, textarea, button {font-size: 14px}
body {
    line-height: normal;
    -webkit-font-smoothing: antialiased 
}
a:hover {
    text-decoration: underline
}
a.nohover, a.nohover:hover {
    text-decoration: none !important
}
.gray {
    color: gray
}
.green {
    color: green
}
.or {
    padding: 0 10px
}
.nomargin {
    margin: 0 !important
}
.nopadding {
    padding: 0 !important
}
div.mainwrapper {
	margin: 0 auto;
    padding: 0 30px;
	width: 930px;
	min-width: 930px;
}
div.header, 
div.gradientback,
div.footer {
    min-width: 990px;
}

div.gradientback {
    width: 100%;
    height: 160px;
    position: absolute; z-index: -1;
    bottom: 52px;

    background: linear-gradient(top, #FFFFFF 0%, #F4F7FD 100%); /* W3C */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F7FD)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFFFFF 0%,#F4F7FD 100%); /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #FFFFFF 0%,#F4F7FD 100%); /* FF */
    background: -o-linear-gradient(top, #FFFFFF 0%,#F4F7FD 100%); /* Opera */
}
div.footer {
    font-size: 12px;
	width: 100%;
	margin: 0;
	position: absolute; z-index: 2;
	bottom: 0;
	background-color: white;
    border-top: 1px solid #EAEFF8;
}
div.header {
	height: 60px;
    background-color: white;
}
div.footerpush {
	height: 75px;
}
div.footerinner {
	height: 30px; line-height: 30px;
	margin: 10px 30px 11px 30px;
    position: relative; z-index: 1;
    font-size: 11px;
}
div.footerinner,
div.footerinner a {
	color: #B0B0B0;
    font-weight: bold;
}
div.footerinner a {
    text-decoration: underline;
}
div.footerinner a,
div.footerinner span {
    margin: 0 0 0 20px;
}
div.footerinner div.righted {
    position: absolute; z-index: 1; right: 0; top: 0
}
div.header iframe {
    height: 100%;
    width: 100%;
    border: 0;
    overflow: hidden;
}
div.footer div.logo {
    width: 62px;
    height: 21px;
    background: url('../../img/signin/footer-lmi-logo.png') no-repeat 0 0;
    position: relative; top: 3px; *top: 0;
}

div#main {
    vertical-align: top;
}

div.singleblock {
    padding: 30px 0 0 0;
}

div.leftpart {
    padding: 30px 40px 0 0;
    width: 425px; max-width: 425px;
    min-height: 420px;
    position: relative; z-index: 1;
    background: url('../../img/signin/login-grad.png') no-repeat right 70px;
}

div.singleblock.leftpart 
{
    background:none;
    padding: 30px 0 0 0;
    width: 450px;
    max-width: 450px;
}

div.rightpart {
    padding: 30px 0 0 40px;
    width: 425px; max-width: 425px;
}

@media (min-height: 800px) {
    div.singleblock,
    div.leftpart,
    div.rightpart {
        padding-top: 70px
    }
    div.leftpart {
        background: url('../../img/signin/login-grad.png') no-repeat right 100px;
    }
}

iframe#main {
    width: 100%;
    height: 420px;
    border: 0;
    overflow:hidden;
}

h1 {
    font-size: 30px;
    height: auto;
    line-height: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: inherit;
}
h1.topspacer {
    padding-top: 10px;
}
h2 {
    font-weight: normal;
    font-size: 18px;
    color: inherit;
}
h3 {
    font-weight: bold;
    font-size: 13px;
    color: inherit;
    margin-bottom: 10px;
}
h2.bottomspacer,
h3.bottomspacer {
    margin-bottom: 40px
}
div.bottomspacer {
    padding-bottom: 20px;
}
h2.vertspacer,
h3.vertspacer {
    margin: 20px 0 10px 0
}
span.lsaq {
    font-size: 17px; line-height: 17px;
}
div#breadcrumb {
    padding-bottom: 15px
}
div.topspacer {
    padding-top: 30px;
}

div.formrow
{
    padding-bottom: 20px;
    position: relative; z-index: 1;  /* only for IE8 input box icon positioning */ 
}
div.formrow div.label
{
    color: gray;
    padding-bottom: 7px;
    white-space: normal;
}
div.formrow div.label.top
{
    padding: 14px 0 7px 0;
    width: 277px;
}

div.formrow.checkbox
{
    padding-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea
{
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.01);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.01);      /* required for a smooth transition in Chrome */

    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;

    border: 1px solid #D0D0D0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: 0;

    margin: 0;
    padding: 10px 5px 12px 50px;
    width: 220px;
    background-color: white;
    display: inline-block;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    min-width: 150px;
}


input[type="email"][disabled],
input[type="text"][disabled],
input[type="password"][disabled],
select[disabled],
textarea[disabled]
{
    color: #A0A0A0;
    text-shadow: 1px 1px white;
    background: none;
    background-color: #F6F6F6;
    cursor: default
}


input.nopad {
    padding-left: 5px;
    width: 265px;
}
select {
    width: 277px;
    padding: 7px 5px 8px 5px;
    background: #FAFAFA !important;
}
input.inset,
textarea.inset
{
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
}

input.error {
    border-color: #E66968;
}
input.error:focus {
    border-color: #E66968;
    -moz-box-shadow: 0 0 0 1px rgba(230,105,104,0.5);
    box-shadow: 0 0 0 1px rgba(230,105,104,0.5);
}
input.email {
    background-position: 10px -34px !important;
}
input.password {
    background-position: 10px -68px !important;
}
div.emailicon {
    background-position: 10px -36px !important;
}
div.passwordicon {
    background-position: 10px -70px !important;
}


div.passwordicon,   /* only for IE8 input box icon positioning */
div.emailicon {
    width: 48px; height: 36px;
    position: absolute; left: 1px; bottom: 21px; z-index: 2;
    *bottom: 22px;
    background-color: #FFFFFF;
}
div.formrow.nopadding div.emailicon,
div.formrow.nopadding div.passwordicon {
    bottom: 1px;
    *bottom: 2px;
}

span.watermark {
    font-style: normal;
    top: 10px; left: 52px;
    font-size: 14px;
    color: #A0A0A0;
}
span.watermark.focused {
    color: #C0C0C0;
}

input:-webkit-autofill {

}

button,
a.button {
    margin-right: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: auto; line-height: normal;
    padding: 8px 20px 9px 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
button  /* IE7 properties */
{
    *padding: 7px 5px 6px 5px;
    *position: relative; z-index: 1; top: -1px;
}
a.button  /* IE7 properties */
{
    *position: relative;
    *z-index: 1;
    *top: -12px;
}
button::-moz-focus-inner
{   
    border: 0;
    padding: 0;
}
button:active, 
a.button:active {
    box-shadow: inset 0 1px 4px  rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);
}
button.gray,
button.gray:hover,
button.gray:active,
a.button.gray,
a.button.gray:hover,
a.button.gray:active {
    border: 1px solid #BBBBBB;
    border-bottom-color: #999999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    color: #555555 !important;
    font-weight: bold;
    text-decoration: none;
}
button.gray,
a.button.gray {
    background: #FCFCFC;
    background: linear-gradient(top, #FCFCFC 0%, #EEEEEE 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFC), color-stop(80%, #EEEEEE)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #FCFCFC 0%, #EEEEEE 80%);
    background: -o-linear-gradient(top, #FCFCFC 0%, #EEEEEE 80%);
    background: -ms-linear-gradient(top, #FCFCFC 0%, #EEEEEE 80%);
}
button.gray:hover,
a.button.gray:hover {
    background: #F0F0F0;
    background: linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(80%, #EEEEEE)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
}
button.gray:active,
a.button.gray:active {
    text-shadow: 0 -1px 0 rgba(255,255,255,0.6);
}
button[disabled],
a.button[disabled],
button[disabled]:hover,
a.button[disabled]:hover,
button[disabled]:active,
a.button[disabled]:active {
    cursor: default !important;
    color: #A8A8A8;
    text-shadow: 1px 1px white;
    border: 1px solid #D8D8D8;

    background-color: #E8E8E8;
    background: linear-gradient(top, #F0F0F0, #E8E8E8);
    background: -moz-linear-gradient(top, #F0F0F0, #E8E8E8);
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#E8E8E8));
    background: -o-linear-gradient(top, #F0F0F0, #E8E8E8);
    background: -ms-linear-gradient(top, #F0F0F0, #E8E8E8);
}
button[disabled]:active,
a.button[disabled]:active {
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

button.minwidth3,
a.button.minwidth3
{
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 300px;
}
button.minwidth3
{
    *min-width: 342px
}
button.button_as_link,
button.button_as_link:hover,
button.button_as_link:active {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    color: #88BC00;
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
}
button.button_as_link:hover,
button.button_as_link:active {
    text-decoration: underline;
}



table.loginform h1
{
    margin-bottom: 0
}

table.loginform tr td
{
    padding: 5px;
}
table.loginform tr td.bottomspace
{
    padding-bottom: 20px
}
span.errormsg, span.infomsg
{
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1; *display: inline;
    color: #E66968;
    padding: 9px 0 10px 5px;
    font-size: 11px;
    font-weight: bold;
}
span.infomsg
{
    color: #000000;
}
span#lbEmailSent.infomsg
{
    padding: 0 0 20px 0;
    
}
div.errormsgouter
{
    vertical-align: top;
}
div.errormsgouter span.errormsg
{
    padding: 0 0 0 5px;
    white-space: normal;
    font-size: 11px;
    font-weight: bold;
    width: 140px; height: 35px; vertical-align: middle; line-height: 11px;
    display: table-cell;
}
span#lbErrorMessage,
span#lbInfoMessage
{
    padding: 0;
}
div.messageplaceholder
{
    min-height: 30px;
}

div.loginpage .textblock
{
    display: block;
    margin: 0 0 10px 0;
    line-height: 20px;
}
span.passinfomsg
{
    color: red;
    padding: 5px;
    border: 1px solid #FFD6D6;
    background-color: #FEE513;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
div#trFederatedMessage
{
    padding-bottom: 23px;
}

div#passOuter
{
    background: #E8E8E8;
    height: 3px;
}

div#passInner
{
    width: 0;
    height: 100%;
    background:#88BC00;
}

.passMessage
{
    font-size: 12px;
    font-weight: bold;
}

.passStrength
{
    padding-top: 5px;
    position: static !important;
    width: 277px;
}

.tobottom
{
    vertical-align: bottom;
}


.bluebox 
{
    padding: 0 30px;
    background-color: #F6FAEB;
    border: 1px solid #CFE499;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.bluebox .blueboxhr 
{
    border-bottom: 1px solid #CFE499;
    margin: 0 -30px;
}
.bluebox p
{
    margin-bottom: 10px;
}
.bluebox .blueboxlink 
{
    display: block;
    padding: 15px 30px 15px 18px; 
    margin: 0 -30px;
    font-weight: bold
}
.bluebox .blueboxlink:hover
{
    text-decoration: none !important
}
.bluebox .raquo
{
    font-size: 18px;
}
.bluebox #CantFindEmailBox,
.bluebox #DiffEmailBox
{
    margin: -8px 0 20px 0;
}
.bluebox .infomsg
{
    padding: 0 !important
}
.bluebox .closed 
{
    display:none;
}

div.alertbox
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #E5DB99;
    background-color: #FFFBDE;
    position: relative; z-index: 1;
    line-height: 20px;
    margin-bottom: 20px;
}

div.alertbox div.alertboxhr 
{
    border-bottom: 1px solid #E5DB99;
}

div.alertbox .alertboxlink 
{
    display: block;
    padding: 15px 30px 15px 18px; 
    font-weight: bold;
}

div.alertbox #CantFindEmailBox
{
    margin: -8px 20px 20px 20px;
}

div.cancelrequest 
{
    padding: 10px 20px;
}
.alertbox .raquo
{
    font-size: 18px;
}

div.alertbox div.messages 
{
    padding: 15px 20px 15px 60px;
}

div.alerttriangle
{
    width: 35px;
    height: 32px;
    background-position: 0px -175px;
    position: absolute; z-index: 1; top: 15px; left: 15px;
}

div.accountnotif
{
    width: 400px;
}

.wordwrapped
{
    word-wrap: break-word;
}



/* mobile layout */

.mobile div.rightpart,
.mobile div.footerinner a,
.mobile div.footerinner span {
    display: none
}
.mobile div#main {
    padding-top: 10px;
    display: inline-block;
    text-align: left;
    width: 100%;
    min-width: 250px;
    max-width: 350px;
}
.mobile div.mainwrapper {
    min-width: 0;
    width: auto;
    padding: 0 15px;
    text-align: center;
}
.mobile div.footer,
.mobile div.gradientback,
.mobile div.header {
    min-width: 530px;
    width: 100%;
}
.mobile div.leftpart {
    background: 0;
    padding-right: 0;
}
.mobile div.footer div.footerinner {
    margin: 10px 15px 11px 15px;
}
.mobile div.singleblock {
    padding: 0
}
.mobile div.errormsgouter {
    display: block !important;
    position: relative; z-index: 2;
}
.mobile div.formrow {
    padding-bottom: 25px;
}
.mobile div.errormsgouter span.errormsg {
    width: auto;
    height: auto;
    padding: 0 5px;
    background-color: white;
    position: absolute; z-index: 2; top: 1px; left: 0;
}
.mobile div#trFederatedMessage,
.mobile div#dvFederated {
    width: 300px
}

.mobile span.textbox,
.mobile input[type="email"],
.mobile input[type="text"],
.mobile input[type="password"],
.mobile button,
.mobile a.button
{
    display: block;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    *width: 79%;
}

.mobile button,
.mobile a.button
{
    text-align: center;
    margin-bottom: 20px;
}

.mobile div.recaptcha_widget div#recaptcha_image 
{
    width: auto !important;
}

.mobile .passStrength
{
    width: auto
}