button, a.button {   
    font-size: 12px;
    font-weight: bold;
    margin: 0 6px 0 0 !important;
    color: #444444 !important;
    height: auto !important; line-height: 15px !important;
    padding: 5px 12px 6px 12px !important;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    overflow: visible;
    min-width: 70px;
    text-align: center;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background: #F4F4F4;
    background: linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(80%, #EEEEEE)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);

    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    
    box-sizing: border-box;
}


button {     /* IE7 properties */
    *padding: 4px 11px !important;
    *width: auto !important;
}
a.button {
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1; *display: inline;
    min-width: 40px;
}
button::-moz-focus-inner {   
    border: 0;
    padding: 0;
}


button:active, 
a.button:active {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
button, button:hover, button:active,
a.button, a.button:hover, a.button:active {
    border: 1px solid #AAAAAA !important;
    border-bottom-color: #777777;
    text-decoration: none;
}

button:hover,
a.button:hover {
    background: #E8E8E8;
    background: linear-gradient(top, #FFFFFF 0%, #DDDDDD 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(80%, #DDDDDD)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #DDDDDD 80%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #DDDDDD 80%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #DDDDDD 80%);
}
button:active,
a.button:active {
    border-bottom-color: #AAAAAA;
    background: #E0E0E0;
    background: linear-gradient(top, #FFFFFF 0%, #DDDDDD 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(80%, #DDDDDD)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #DDDDDD 80%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #DDDDDD 80%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #DDDDDD 80%);
}

button[disabled], button[disabled]:hover, button[disabled]:active
a.button[disabled], a.button[disabled]:hover, a.button[disabled]:active {
    cursor: default !important;
    color: #A8A8A8 !important;
    text-shadow: 1px 1px white !important;
    border: 1px solid #D0D0D0 !important;
    border-bottom-color: #C0C0C0 !important;

    box-shadow: 0 1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.1);

    background-color: #E8E8E8;
    background: linear-gradient(top, #F0F0F0, #E8E8E8);
    background: -moz-linear-gradient(top, #F0F0F0, #E8E8E8);
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#E8E8E8));
    background: -o-linear-gradient(top, #F0F0F0, #E8E8E8);
    background: -ms-linear-gradient(top, #F0F0F0, #E8E8E8);
}







input[type="text"],
input[type="password"],
select,
textarea {
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.01);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.01);      /* required for a smooth transition in Chrome */

    -moz-transition: -moz-box-shadow .1s linear, border-color .1s linear;
    -webkit-transition: box-shadow .1s linear, border-color .1s linear;
    -ms-transition: box-shadow .1s linear, border-color .1s linear;
    -o-transition: box-shadow .1s linear, border-color .1s linear;
    transition: box-shadow .1s linear, border-color .1s linear;

    margin: 0;
    padding: 5px;
    background-color: white;
    border: 1px solid #D0D0D0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    -moz-box-shadow: 0 0 0 1px rgba(0,136,206,0.5);
    box-shadow: 0 0 0 1px rgba(0,136,206,0.5);
    border-color: #0088CE;
}
input[type="text"][disabled],
input[type="password"][disabled],
select[disabled],
textarea[disabled] {
    color: #A0A0A0;
    text-shadow: 1px 1px white;
    background: none;
    background-color: #F6F6F6;
    cursor: default
}
input[type="text"] {
    min-width: 100px
}

select, input.dropdown {
    background: linear-gradient(top, #FDFDFD, #F0F0F0);
    background: -moz-linear-gradient(top, #FDFDFD, #F0F0F0);
    background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#F0F0F0));
    background: -o-linear-gradient(top, #FDFDFD, #F0F0F0);
    background: -ms-linear-gradient(top, #FDFDFD, #F0F0F0);
}
optgroup {
    font-weight: bold;
    padding-left: 3px;
    font-style: normal;
}
optgroup option {
    font-weight: normal;
    padding-left: 10px;
}
optgroup,
option {
	font-size: 100%;
	font: inherit;
}
input[type="checkbox"], input[type="radio"] {
    margin: 3px;
}

input.inset,
textarea.inset {
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
}
input.inset:focus,
textarea.inset:focus {
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1), 0 0 0 1px rgba(0,136,206,0.5);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1), 0 0 0 1px rgba(0,136,206,0.5);
}
input.error {
    border-color: #E66968;
}
input.error:focus {
    border-color: #E66968;
    -moz-box-shadow: 0 0 0 1px rgba(230,105,104,0.5);
    box-shadow: 0 0 0 1px rgba(230,105,104,0.5);
}
textarea.invitearea {
    width: 500px;
    height: 150px
}







input.search {
    margin: 0;
    padding-right: 25px;
    padding-left: 21px;
    width: 120px;
    background-color: white;
    position: relative; z-index: 1; top: 0;
}
input.search, x:-moz-any-link, x:only-child { top: 1px; }   /* FF positioning */

*input.search { top: -1px; }                                /* IE6-7 positioning */

div.searchcont {
    position: relative; z-index: 2;
}

div.searchcont div.searchicon {
    position: absolute; z-index: 1; left: 4px; top: 6px;
    background-color: white;
}
div.searchcont div.searchicon, x:-moz-any-link, x:only-child { top: 7px; }                  /* FF positioning */

*div.searchcont div.searchicon { top: 6px; }                                                /* IE6-7 positioning */

div.searchcont div.searchx {
    position: absolute; z-index: 1; right: 4px; top: 5px;
    background-color: #E8E8E8;
    cursor: pointer;
    font-size: 15px;
    text-shadow: 0 0 4px white;
    padding: 0 4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

div.searchcont div.searchx, x:-moz-any-link, x:only-child { top: 6px; }                  /* FF positioning */

*div.searchcont div.searchx { top: 5px; }                                                /* IE6-7 positioning */

div.searchcont div.searchx.off {
    display: none
}
.watermark {
    position: absolute; z-index: 10;
    left: 5px; top: 5px;
    line-height: 18px;
    color: #A0A0A0;
    padding: 0;
}
.watermark, x:-moz-any-link, x:only-child { top: 6px; }                  /* FF positioning */

*span.watermark { top: 5px; }                                            /* IE6-7 positioning */

.watermark.focused {
    color: #C0C0C0
}
div.searchcont .watermark {
    left: 22px
}
