div.dialog
{
    display: none;
    position: fixed; z-index: 11; top: 0; left: 0;
    width: 100%; height: 100%;
    text-align: center;
    *position: fixed;      /* IE6-7 */
}
div.dialog div.dimmer
{
    position: fixed; z-index: 11; top: 0; left: 0;
    *position: absolute;          /* IE6-7 */
    width: 100%; height: 100%;
    background-color: white;
	filter: alpha(opacity=70);    /* IE6-7 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";   /* IE8-9 */
    opacity: 0.7;
}
div.dialog div.box
{
    position: relative; z-index: 11;
    min-width: 400px; min-height: 100px; 
    max-width: 600px;
    text-align: left;
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1; *display: inline;
    margin: 103px 40px 0 40px;
    color: #303030;
    background-color: #FAFAFA;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 0 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 0 4px rgba(0,0,0,0.3);
    box-shadow: 0 0 0 4px rgba(0,0,0,0.3);
    *border: 4px solid #A0A0A0;   /* IE6-7 */
}
div.dialog div.box.big
{
    margin-top: 5%
}
div.dialog div.box div.inner
{
    padding: 20px;
}
div.dialog div.box div.inner div.closer
{
    position: absolute; z-index: 9; top: -8px; right: -8px;
    background-color: #404040;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 1px 3px 2px 4px;
    overflow: hidden;
    cursor: pointer;
    line-height: 15px;

    border: 2px solid white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    -moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 0 3px rgba(0,0,0,0.2);    
}
div.dialog div.box div.inner h1
{
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 20px 0;
    height: auto;
    line-height: normal;
    white-space: normal;
}
div.dialog div.box div.inner p,
div.dialog div.box div#text
{
    font-size: 13px; 
    margin: 0 0 20px 0;
    overflow: hidden; text-overflow: ellipsis;
}

div.dialog div.box div.buttons
{
    text-align: center;
    margin-top: 20px;
}




/* Info box on top of the pages */
div.infobox
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #F2D000;
    /*background-color: #FEF9AA;*/
    padding: 8px 40px 10px 40px;
    position: relative; z-index: 2;
    margin-bottom: 15px;
    color: #342E20;
}
div.infobox div.icon
{
    position: absolute; z-index: 1;
    top: 6px; left: 10px;
}
div.infobox div.closer
{
    position: absolute; z-index: 1;
    top: 2px; right: 3px;
    font-size: 18px;
    padding: 1px 5px 0 6px;
    color: #202020;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
div.infobox.blue
{
    border: 1px solid #6DBBEE;
    /*background-color: #A7E1FF;*/
}
div.infobox.red
{
    border: 1px solid #FF5F5F;
    /*background-color: #FF9191;*/
}
div.infobox div.closer:hover
{
    color: red;
    background-color: #F2F2F2;
}
div.infobox h1
{
    margin: 0 0 8px 0; 
    font-size: 14px;
    height: auto; line-height: normal;
    white-space: normal;
}
div.infobox.blue.av div.icon
{
    top: 50%; left: 22px;
    margin-top: -20px;
}
div.infobox.blue.av div.msg
{
    border-left: 1px solid #6DBBEE;
    padding-left: 20px;
    margin-left: 40px;
}