div.scroller ul li {
    position: absolute; z-index: 1; left: 0;
}
div.scroller ul li.group {
    width: 100%
}
div.groupHeader {
    height: 26px; line-height: 26px;
    padding: 0 15px 0 10px;
    margin-top: 8px;
    color: #444444;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;

    border: 1px solid #E8E8E8;
    border-bottom: 1px solid #CCCCCC;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    background-color: #F6F6F6;
    background: linear-gradient(top, #FBFBFB, #EEEEEE);
    background: -moz-linear-gradient(top, #FBFBFB, #EEEEEE);
    background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#EEEEEE));
    background: -o-linear-gradient(top, #FBFBFB, #EEEEEE);
    background: -ms-linear-gradient(top, #FBFBFB, #EEEEEE);
    -pie-background: linear-gradient(top, #FBFBFB, #EEEEEE);
}
div.groupHeader div.leftAligned {
    width: 80%;
    text-align: left;
}
div.groupHeader div.rightAligned {
    width: 20%;
    text-align: right;
}
div.groupHeader div.arrow {
    float: left;
}
div.groupHeader input.rowcheck {
    position: relative; z-index: 1; top: 2px; left: -3px;
}
div.groupHeader div.arrow {              /* closed state (not marked with any extra selector) */
    margin: 0 7px 0 -2px;
    left: 2px; top: 9px;
    border-left: 4px solid #0088CE;
}
.open div.groupHeader div.arrow {
    border-left: 4px solid transparent;
    _border-left: 4px solid #F3F3F3;     /* IE6 transparency fix */
    _filter: chroma(color=#F3F3F3);      /* IE6 transparency fix */
    margin: 0 5px 0 0;
    left: -2px; top: 12px;
    border-top: 4px solid #0088CE;
}
.empty div.groupHeader div.arrow {
    margin: 0 5px 0 0;
    visibility: hidden;
}
div.scroller .empty div.groupHeader,
div.scroller div.groupHeader.empty,
div.scroller div.groupHeader.search {
    cursor: auto;
}
div.groupHeader a.name,
div.groupHeader span.name {
    float: left;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: 1px solid #E0E0E0;
    padding-right: 10px;
    margin-right: 10px;
    font-weight: bold;
}





div.scroller {
    position: relative; z-index: 1;                /* for IE6, otherwise absolute positioned elements behave as fixed */
    
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div.scroller .row,
div.scrollheader .row {
    white-space: nowrap; 
    font-size: 12px;
    width: 100%;
}
div.scroller .row.th,
div.scrollheader .row.th {
    background-color: #F0F0F0;
    font-size: 11px; 
}
div.scroller .row:hover {
    background-color: #F6F6F6
}
div.scroller .row.selected {
    background-color: #FFFFCC
}
div.scroller .row.selected:hover {
    background-color: #F4F4C4
}
div.scrollheader .row.th div.sortable {
    cursor: pointer;
}
div.scrollheader .row.th div.sortable:hover {
    background-color: #E4E4E4;
}
div.scrollheader .row.th div.sortable.asc:after {
    content: " ▲ ";
    color: gray;
    font-size: 9px;
}
div.scrollheader .row.th div.sortable.desc:after {
    content: " ▼ ";
    color: gray;
    font-size: 9px;
}
div.scrollheader .row.th div.sortable.asc,
div.scrollheader .row.th div.sortable.desc {
    font-weight: bold
}
div.scroller .row div.c,
div.scrollheader .row div.c {
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1; *display: inline;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 26px;
    line-height: 25px;   /* + border-bottom = 24px */
    border-bottom: 1px solid #ECECEC;
    vertical-align: middle;
    padding: 0 4px; *padding: 0;

    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div.scrollheader .row div.c {
    line-height: 26px
}
div.scroller .row div.c .small,
div.scrollheader .row div.c .small {
    font-size: 9px;
}
div.scroller .row div.c.check,
div.scrollheader .row div.c.check {
    text-align: center
}
div.scroller .row div.c.check input,
div.scrollheader .row div.c.check input {
    margin: 6px 0 0 0; 
    padding: 0;
    *width: 13px; 
    *height: 13px;
}
div.scroller .row div.icon,
div.scrollheader .row div.icon {
    margin: 3px auto 0 auto;
}
div.scroller .row div.c {
    _background: none;   /* IE6 */
}
.row div.c:last-child { 
    padding-right: 30px !important;   /* for the column selector */
}



div.selectionInfo {
    line-height: 26px;
    margin-left: 10px
}



/* search results highlight */
span.hi {
    background-color: yellow;
}



/* progress bar */
#ProgressWrapper {
    position: absolute; z-index: 5; top: -3px; left: 0;
    *z-index: 11;  /* IE6-7 */
}
div.ProgressInner {
    height: 28px;
}
#ProgressText {
    float: left;
    line-height: 28px;
    margin: 0 10px 0 0;
}
#Progress {
    background-color: #E0E0E0;
    float: left;
    width: 200px;
    margin-top: 12px;
}
#Progress div.gauge {
    height: 4px; line-height: 4px;
    overflow: hidden;
    background-color: #0088CE;
}