body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Reassociate_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:250px;
    top:459px;
    width:979px;
    height:334px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:340px;
}

.u1 {
    position:absolute;
    left:2px;
    top:159px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Reassociate_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:752px;
    width:1229px;
    height:160px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1235px;
    height:166px;
}

.u3 {
    position:absolute;
    left:2px;
    top:72px;
    width:1225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:262px;
    top:765px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Reassociate_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:250px;
    top:333px;
    width:979px;
    height:56px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:62px;
}

.u6 {
    position:absolute;
    left:2px;
    top:20px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Reassociate_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1229px;
    height:64px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1235px;
    height:70px;
}

.u8 {
    position:absolute;
    left:2px;
    top:24px;
    width:1225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:214px;
    top:177px;
    width:339px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:214px;
    top:102px;
    width:330px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:326px;
    top:187px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:28px;
    top:111px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:28px;
    top:150px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:28px;
    top:189px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:28px;
    top:226px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:28px;
    top:18px;
    width:90px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:1089px;
    top:20px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:929px;
    top:25px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../Reassociate_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u19 {
    position:absolute;
    left:28px;
    top:136px;
    width:150px;
    height:10px;
    
}

.u20_line {
    background-image: url('../Reassociate_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u20 {
    position:absolute;
    left:28px;
    top:175px;
    width:150px;
    height:10px;
    
}

.u21_line {
    background-image: url('../Reassociate_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u21 {
    position:absolute;
    left:28px;
    top:214px;
    width:150px;
    height:10px;
    
}

.u22 {
    position:absolute;
    left:1049px;
    top:119px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:214px;
    top:243px;
    width:208px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:415px;
    top:242px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:489px;
    top:242px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26_line {
    background-image: url('../Reassociate_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:567px;
    height:3px;
}

.u26 {
    position:absolute;
    left:579px;
    top:252px;
    width:567px;
    height:10px;
    
}

.u27 {
    position:absolute;
    left:1165px;
    top:243px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:214px;
    top:299px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:214px;
    top:423px;
    width:208px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:262px;
    top:471px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:1029px;
    top:560px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33_normal {
    background-image: url('../Reassociate_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:327px;
    top:502px;
    width:124px;
    height:42px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:48px;
}

.u34 {
    position:absolute;
    left:2px;
    top:5px;
    width:120px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Reassociate_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:461px;
    top:502px;
    width:83px;
    height:42px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:89px;
    height:48px;
}

.u36 {
    position:absolute;
    left:2px;
    top:5px;
    width:79px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Reassociate_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:554px;
    top:502px;
    width:117px;
    height:42px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:48px;
}

.u38 {
    position:absolute;
    left:2px;
    top:5px;
    width:113px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Reassociate_files/u37_normal.png');
}

.u39_container {
    position:absolute;
    left:681px;
    top:502px;
    width:117px;
    height:42px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:48px;
}

.u40 {
    position:absolute;
    left:2px;
    top:5px;
    width:113px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Reassociate_files/u37_normal.png');
}

.u41_container {
    position:absolute;
    left:808px;
    top:502px;
    width:117px;
    height:42px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:48px;
}

.u42 {
    position:absolute;
    left:2px;
    top:5px;
    width:113px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Reassociate_files/u37_normal.png');
}

.u43_container {
    position:absolute;
    left:935px;
    top:502px;
    width:117px;
    height:42px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:48px;
}

.u44 {
    position:absolute;
    left:2px;
    top:5px;
    width:113px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Reassociate_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:1062px;
    top:502px;
    width:84px;
    height:42px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:90px;
    height:48px;
}

.u46 {
    position:absolute;
    left:2px;
    top:5px;
    width:80px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Reassociate_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:1156px;
    top:502px;
    width:53px;
    height:42px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:48px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:264px;
    top:562px;
    width:613px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_line {
    background-image: url('../Reassociate_files/u50_line.png');
}

.u50_line {
    position:absolute;
    left:0px;
    top:4px;
    width:979px;
    height:3px;
}

.u50 {
    position:absolute;
    left:250px;
    top:594px;
    width:979px;
    height:10px;
    
}

.u51_normal {
    background-image: url('../Reassociate_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:264px;
    top:614px;
    width:217px;
    height:42px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:48px;
}

.u52 {
    position:absolute;
    left:2px;
    top:5px;
    width:213px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_container {
    position:absolute;
    left:269px;
    top:617px;
    width:33px;
    height:36px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:265px;
    top:352px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:447px;
    top:614px;
    width:34px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Reassociate_files/u51_normal.png');
}

.u57_container {
    position:absolute;
    left:491px;
    top:614px;
    width:217px;
    height:42px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:48px;
}

.u58 {
    position:absolute;
    left:2px;
    top:5px;
    width:213px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_container {
    position:absolute;
    left:496px;
    top:617px;
    width:33px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:674px;
    top:614px;
    width:34px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Reassociate_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:718px;
    top:614px;
    width:241px;
    height:42px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:48px;
}

.u63 {
    position:absolute;
    left:2px;
    top:5px;
    width:237px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_container {
    position:absolute;
    left:724px;
    top:617px;
    width:37px;
    height:36px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:36px;
}

.u65 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:921px;
    top:614px;
    width:38px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Reassociate_files/u51_normal.png');
}

.u67_container {
    position:absolute;
    left:969px;
    top:614px;
    width:217px;
    height:42px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:48px;
}

.u68 {
    position:absolute;
    left:2px;
    top:5px;
    width:213px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_container {
    position:absolute;
    left:974px;
    top:617px;
    width:33px;
    height:36px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u70 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:1152px;
    top:614px;
    width:34px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Reassociate_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:264px;
    top:666px;
    width:232px;
    height:42px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:48px;
}

.u73 {
    position:absolute;
    left:2px;
    top:5px;
    width:228px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_container {
    position:absolute;
    left:269px;
    top:669px;
    width:35px;
    height:36px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:36px;
}

.u75 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:460px;
    top:666px;
    width:36px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Reassociate_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:506px;
    top:666px;
    width:237px;
    height:42px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:243px;
    height:48px;
}

.u78 {
    position:absolute;
    left:2px;
    top:5px;
    width:233px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_container {
    position:absolute;
    left:511px;
    top:669px;
    width:36px;
    height:36px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u80 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:706px;
    top:666px;
    width:37px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Reassociate_files/u51_normal.png');
}

.u82_container {
    position:absolute;
    left:753px;
    top:666px;
    width:217px;
    height:42px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:48px;
}

.u83 {
    position:absolute;
    left:2px;
    top:5px;
    width:213px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_container {
    position:absolute;
    left:758px;
    top:669px;
    width:33px;
    height:36px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u85 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:936px;
    top:666px;
    width:34px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Reassociate_files/u51_normal.png');
}

.u87_container {
    position:absolute;
    left:980px;
    top:666px;
    width:217px;
    height:42px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:48px;
}

.u88 {
    position:absolute;
    left:2px;
    top:5px;
    width:213px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_container {
    position:absolute;
    left:985px;
    top:669px;
    width:33px;
    height:36px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u90 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:1163px;
    top:666px;
    width:34px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:351px;
    top:765px;
    width:241px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:592px;
    top:760px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94_normal {
    background-image: url('../Reassociate_files/u47_normal.png');
}

.u94_container {
    position:absolute;
    left:262px;
    top:803px;
    width:53px;
    height:42px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:48px;
}

.u95 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Reassociate_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:386px;
    top:803px;
    width:95px;
    height:42px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:48px;
}

.u97 {
    position:absolute;
    left:2px;
    top:5px;
    width:91px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Reassociate_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:491px;
    top:803px;
    width:103px;
    height:42px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:109px;
    height:48px;
}

.u99 {
    position:absolute;
    left:2px;
    top:5px;
    width:99px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../Reassociate_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:604px;
    top:803px;
    width:166px;
    height:42px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:172px;
    height:48px;
}

.u101 {
    position:absolute;
    left:2px;
    top:5px;
    width:162px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../Reassociate_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:780px;
    top:803px;
    width:107px;
    height:42px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:113px;
    height:48px;
}

.u103 {
    position:absolute;
    left:2px;
    top:5px;
    width:103px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Reassociate_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:897px;
    top:803px;
    width:121px;
    height:42px;
}

#u104_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:127px;
    height:48px;
}

.u105 {
    position:absolute;
    left:2px;
    top:5px;
    width:117px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Reassociate_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:1028px;
    top:803px;
    width:114px;
    height:42px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:48px;
}

.u107 {
    position:absolute;
    left:2px;
    top:5px;
    width:110px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Reassociate_files/u47_normal.png');
}

.u108_container {
    position:absolute;
    left:1152px;
    top:803px;
    width:53px;
    height:42px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:48px;
}

.u109 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Reassociate_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:325px;
    top:803px;
    width:51px;
    height:42px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:48px;
}

.u111 {
    position:absolute;
    left:2px;
    top:4px;
    width:47px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Reassociate_files/u47_normal.png');
}

.u112_container {
    position:absolute;
    left:264px;
    top:502px;
    width:53px;
    height:42px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:48px;
}

.u113 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

