body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../superusers_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1229px;
    height:64px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1235px;
    height:70px;
}

.u1 {
    position:absolute;
    left:2px;
    top:24px;
    width:1225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:338px;
    top:102px;
    width:339px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:214px;
    top:102px;
    width:330px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:326px;
    top:187px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:28px;
    top:18px;
    width:90px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:1089px;
    top:20px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:929px;
    top:25px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:1049px;
    top:119px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:214px;
    top:183px;
    width:208px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:415px;
    top:182px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:489px;
    top:182px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_line {
    background-image: url('../superusers_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:650px;
    height:3px;
}

.u12 {
    position:absolute;
    left:579px;
    top:192px;
    width:650px;
    height:10px;
    
}

.u13 {
    position:absolute;
    left:214px;
    top:707px;
    width:208px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../superusers_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:250px;
    top:753px;
    width:979px;
    height:334px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:340px;
}

.u16 {
    position:absolute;
    left:2px;
    top:159px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:264px;
    top:767px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:1029px;
    top:791px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:264px;
    top:793px;
    width:613px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../superusers_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:979px;
    height:3px;
}

.u20 {
    position:absolute;
    left:250px;
    top:825px;
    width:979px;
    height:10px;
    
}

.u21_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:264px;
    top:845px;
    width:195px;
    height:42px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u22 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_container {
    position:absolute;
    left:269px;
    top:848px;
    width:30px;
    height:36px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u25_container {
    position:absolute;
    left:469px;
    top:845px;
    width:195px;
    height:42px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u26 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_container {
    position:absolute;
    left:474px;
    top:848px;
    width:30px;
    height:36px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u29_container {
    position:absolute;
    left:674px;
    top:845px;
    width:195px;
    height:42px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u30 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_container {
    position:absolute;
    left:679px;
    top:848px;
    width:30px;
    height:36px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u32 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u33_container {
    position:absolute;
    left:879px;
    top:845px;
    width:195px;
    height:42px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u34 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_container {
    position:absolute;
    left:884px;
    top:848px;
    width:30px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u36 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u37_container {
    position:absolute;
    left:264px;
    top:897px;
    width:195px;
    height:42px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u38 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_container {
    position:absolute;
    left:269px;
    top:900px;
    width:30px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u41_container {
    position:absolute;
    left:469px;
    top:897px;
    width:195px;
    height:42px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u42 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_container {
    position:absolute;
    left:474px;
    top:900px;
    width:30px;
    height:36px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u44 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u45_container {
    position:absolute;
    left:674px;
    top:897px;
    width:195px;
    height:42px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u46 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_container {
    position:absolute;
    left:679px;
    top:900px;
    width:30px;
    height:36px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u48 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u49_container {
    position:absolute;
    left:879px;
    top:897px;
    width:195px;
    height:42px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u50 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_container {
    position:absolute;
    left:884px;
    top:900px;
    width:30px;
    height:36px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u52 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u53_container {
    position:absolute;
    left:264px;
    top:949px;
    width:195px;
    height:42px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u54 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_container {
    position:absolute;
    left:269px;
    top:952px;
    width:30px;
    height:36px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u56 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u57_container {
    position:absolute;
    left:469px;
    top:949px;
    width:195px;
    height:42px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u58 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_container {
    position:absolute;
    left:474px;
    top:952px;
    width:30px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u61_container {
    position:absolute;
    left:674px;
    top:949px;
    width:195px;
    height:42px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u62 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_container {
    position:absolute;
    left:679px;
    top:952px;
    width:30px;
    height:36px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../superusers_files/u21_normal.png');
}

.u65_container {
    position:absolute;
    left:879px;
    top:949px;
    width:195px;
    height:42px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u66 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_container {
    position:absolute;
    left:884px;
    top:952px;
    width:30px;
    height:36px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:28px;
    top:111px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:28px;
    top:150px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:28px;
    top:189px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_line {
    background-image: url('../superusers_files/u72_line.png');
}

.u72_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u72 {
    position:absolute;
    left:28px;
    top:136px;
    width:150px;
    height:10px;
    
}

.u73_line {
    background-image: url('../superusers_files/u73_line.png');
}

.u73_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u73 {
    position:absolute;
    left:28px;
    top:175px;
    width:150px;
    height:10px;
    
}

.u74 {
    position:absolute;
    left:214px;
    top:559px;
    width:226px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../superusers_files/u76_normal.png');
}

.u76_container {
    position:absolute;
    left:250px;
    top:242px;
    width:979px;
    height:268px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:274px;
}

.u77 {
    position:absolute;
    left:2px;
    top:126px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:268px;
    top:467px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:378px;
    top:467px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u80 {
    position:absolute;
    left:268px;
    top:261px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u82 {
    position:absolute;
    left:16px;
    top:0px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:16px;
    top:0px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:16px;
    top:0px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:16px;
    top:0px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:16px;
    top:0px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:579px;
    top:467px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u92_normal {
    background-image: url('../superusers_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:250px;
    top:605px;
    width:157px;
    height:42px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:48px;
}

.u93 {
    position:absolute;
    left:2px;
    top:13px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../superusers_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:417px;
    top:605px;
    width:109px;
    height:42px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:48px;
}

.u95 {
    position:absolute;
    left:2px;
    top:13px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../superusers_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:536px;
    top:605px;
    width:139px;
    height:42px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:48px;
}

.u97 {
    position:absolute;
    left:2px;
    top:13px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../superusers_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:254px;
    top:612px;
    width:37px;
    height:27px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u99 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../superusers_files/u98_normal.png');
}

.u100_container {
    position:absolute;
    left:420px;
    top:613px;
    width:37px;
    height:27px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u101 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../superusers_files/u98_normal.png');
}

.u102_container {
    position:absolute;
    left:539px;
    top:613px;
    width:37px;
    height:27px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u103 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

