@charset "UTF-8";

body {
    width: auto; 
    height: auto; 
    margin: 0;
    padding: 0; 
    background-color: #F9FBFD; 
}
/* Box model fix for all BEGIN */
html {
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    font-size: 62.5%;
}
*, *:before, *:after {
    -webkit-transition: all .35s cubic-bezier(.19,1,.22,1);
    transition: all .35s cubic-bezier(.19,1,.22,1);
    outline: none;
    box-sizing: inherit;
}
/* Box model fix for all END */
body, input, button, textarea, select, table {
    font-family: "Gibson", "Open Sans", Gibson, sans-serif; 
    font-size: 16px;
    color: rgba(0, 0, 0, .8);
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, .1);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .2);
}
*[disabled] {
    user-select: none !important;
    pointer-events: none !important;
    opacity: .5 !important;
    color: gray !important;
}
.icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
header svg {
    width: 24px; height: 24px;
}
header {
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 0 1px 1px rgba(0 , 0, 0, .1);
    font-weight: 500;
    background-color: #F9FBFD; 
    position: fixed; top: 0; left: 0; right: 0; z-index: 10;
}
header img,
header svg {
    display: inline-block;
    margin-right: 10px
}
header > div {
    white-space: nowrap;
    flex-basis: 50%
}
header > div:first-child {
    flex: 0 0 300px;
}
header > div:first-child svg:first-child {
    margin-right: 20px
}
header .logo {
    width: 120px;
}
input[type="text"],
input[type="password"],
textarea {
    width: 300px; 
    padding: 0 10px;
    border: 1px solid #9AC0DA; 
    height: 36px;
    border-radius: 5px; 
}
input[type="text"].vaultsearch {
    width: 100%; 
    border: 0; 
    box-shadow: none;
    padding: 0 12px 0 40px;
    background: rgba(0, 0, 0, .03) url('img/search.svg') no-repeat 10px 13px;
    background-size: 20px 20px;
}
input[type="text"].vaultsearch {
    height: 46px;
}
textarea {
    height: auto;
    min-height: 120px;
    padding: 5px 10px;
}
select {
    border: 1px solid #9AC0DA; 
    padding: 4px; 
    border-radius: 5px; 
    box-shadow: 0 0 1px 1px transparent; 
    height: 36px;
}
.bluetext {
    color: #2980B8;
}
.form .section .row {
    display: flex;
    align-items: center;
}
.form .section label:not(.checkbox),
.form .section .row p {
    margin-top: 0; margin-bottom: 0;
}
.form .section .row p {
    font-size: 90%;
    margin-bottom: 5px;
}
.form .section .row > * {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
}
.form .section .row > *:first-child {
    width: 170px;
    padding-right: 20px;
    text-align: right; 
    font-weight: 300;
}
.form .section .row:not(.buttons) button {
    height: 36px;
    width: auto;
    white-space: nowrap;
    color: #2980B8;
}
.form .section .row:not(.buttons) button:hover {
    background-color: rgba(0, 0, 0, .03)
}
.form .row h2 {
    margin: 0
}




.addform.invisible,
.addfolderform.invisible {
    transform: translate3d(0, -40px, 0);
    -webkit-transition: none;
    transition: none;
    height: 0;
    overflow: hidden;
}
.addform,
.addfolderform {
    transform: translate3d(0, 0, 0);
}
.addform input[type="text"],
.addform input[type="password"],
.addform textarea,
.addform select,
.addfolderform input[type="text"],
.addfolderform input[type="password"],
.addfolderform textarea,
.addfolderform select {
    width: 50%;
    max-width: 600px;
    min-width: 500px;
    box-shadow: 0 0 0 1px rgba(154, 192, 218, 0);
}
.addform select:not(.fullwidth),
.addfolderform select:not(.fullwidth) {
    width: auto;
    min-width: auto;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    background-color: white;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus { 
    box-shadow: 0 0 0 1px rgba(154, 192, 218, 1);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.hidden {
    display: none
}
.invisible {
    visibility: hidden;
    opacity: 0;
}
.flex {
    display: flex;
    flex-direction: row;
    direction: ltr;
    align-items: center;
}
.flexleft {
    justify-content: flex-start;
}
.flexright {
    justify-content: flex-end;
}
.grow1 {
    flex-grow: 1
}
.grow2 {
    flex-grow: 2
}
.grow3 {
    flex-grow: 3
}
.floleft {
    float: left
}
.floright {
    float: right
}
.mrgbtm30 {
    margin-bottom: 30px;
}
.pointer {
    cursor: pointer
}
.semibold {
    font-weight: 600 !important
}
ul li {
    user-select: none
}
h1, h2 {
    font-weight: 600;
}
h2, h2 select {
    font-size: 20px;
    font-weight: 600;
    font-size: 22px;
    color: rgba(0, 0, 0, .7);
}
h2 select, h2 select:focus {
    border-color: transparent;
    box-shadow: none !important;
    background: #F9FBFD;
    color: #2980B8;
    cursor: pointer;
}
.navoption h2 {
    margin-top: 5px;
}
h3 {
    font-size: 16px; 
    font-weight: 600;
    color: rgba(0, 0, 0, .7);
}
h3 span {
    position: relative;
    padding-right: 30px;
}
.centered {
    text-align: center
}
a, .href                      {color: #2980B8; text-decoration: none; font-weight: 500; cursor: pointer}
a:hover, .href:hover          {text-decoration: underline}
.searchsites a                {margin-left: 10px}
button, input[type="button"]  
                        {border: 0; border-radius: 100px; 
                        font-weight: 500; cursor: pointer; padding: 0 20px; min-width: 80px; height: 40px}
button, input[type="button"],                        
button:active, input[type="button"]:active {
    background-color: rgba(0, 0, 0, .06); 
}
button:hover, input[type="button"]:hover {
    background-color: rgba(0, 0, 0, .03);
}
button.red                                 {background-color: #D32D27; color: white}
button.pri, button.pri:active              {background-color: #2980B8; color: white}
button.pri:hover                           {background-color: #2F93D1}
button .icon {
    float: left;
    width: 20px; height: 20px;
    margin-right: 5px;
}
.row.buttons button {
    min-width: 100px
}
.row.buttons button.pri {
    margin-right: 5px;
}
.row.buttons {
    padding-top: 30px;
}
button.adder,
button.adder:active {
    background-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}
.addfolder {
    padding: 0 !important
}
.addfolder button.adder {
    padding: 10px 16px 10px 12px;
    background-color: transparent;
    box-shadow: none;
}
button.adder:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}
.addfolder button.adder:hover {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    background-color: transparent
}
.listcontrols .inner div:hover {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}
.row label {
    display: block;
    position: relative;
}
label.checkbox {
    padding-left: 25px;
    margin: 5px 0;
    user-select: none;
    font-weight: 400;
}
label.checkbox input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
label.checkbox input[type=checkbox]:checked + span {
    font-weight: 400
}
label.checkbox input[type=checkbox]:checked + span::after {
    content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='none' stroke='%23FFFFFF' stroke-width='3' stroke-linecap='square' stroke-linejoin='square'%3E%3Cpolyline points='6.5 11.3 9 13.3 14 6.3' /%3E%3C/svg%3E");
    background-color: #2980B8;
    border-color: #2980B8;
}
label.checkbox input[type=checkbox] + span::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    content: "";
    background-size: 16px 16px;
    background-color: white;
    border: 1px solid #9AC0DA;
    border-radius: 3px;
}

.redcol {
    color: #D32D27 !important;
}
ul {
    list-style-type: none;
    padding: 0;
}
.content  {
    padding: 81px 40px 80px 320px;
}
.clears {
    clear: both; width: 0 !important; height: 0 !important; line-height: 0 !important; overflow: hidden !important;
}
nav {
    width: 300px;
    user-select: none;
    position: fixed; top: 61px;
    height: calc(100% - 61px);
    overflow: auto;
    transform: translate3d(0, 0, 0);
}
body.navclosed nav {
    transform: translate3d(-300px, 0, 0);
    opacity: 0;
}
body.navclosed .content {
    padding-left: 64px;
}
nav > ul {
    margin: 20px 20px 20px 0;
    font-weight: 500;
}
nav ul ul {
    height: 0; overflow: hidden; opacity: 0;
    transform: translate(0, -20px);
    font-weight: 400;
    list-style-type: disc;
}
nav ul ul li span {
    padding: 5px 20px 5px 80px;
    position: relative;
}
nav ul ul li span:before {
    position: absolute; top: 6px; left: 65px;
    content: "•"
}
nav ul li > span {
    display: block;
    border-radius: 0 5px 5px 0;
    padding: 10px 20px 10px 25px;
    cursor: pointer;
    position: relative;
}
nav ul li > span.selected,
nav ul li > span.selected:hover {
    background-color: rgba(164, 35, 30, .1)
}
nav ul li > span:hover {
    background-color: rgba(0, 0, 0, .05)
}
nav ul li > span span.sum {
    position: absolute; right: 12px;
    min-width: 21px;
    text-align: center;
    padding: 3px 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
    border-radius: 50px;
    font-size: 12px;
    font-weight: 400;
}
nav svg.icon {
    width: 18px;
    height: 18px;
    margin: 1px 22px 0 0;
    float: left;
    -webkit-transition: transform .35s cubic-bezier(.19,1,.22,1);
    transition: transform .35s cubic-bezier(.19,1,.22,1);
}
nav .selected svg.icon {
    color: #d32d27;
}
nav ul li > span.open + ul {
    height: auto; opacity: 1;
    transform: translate(0, 0);
}
nav ul li > span.open svg.icon {
    transform: rotate(90deg)
}

ul {
    margin: 0
}
ul.horizontal {
    margin-bottom: 20px;
}
ul.horizontal li {
    cursor: pointer;
    margin: 0 20px 5px 0;
    float: left;
    font-weight: 500;
}
ul.horizontal li a {
    display: inline-block;
    padding: 9px 5px;
    border-bottom: 2px solid transparent;
}
ul.horizontal li a svg.icon {
    float: left;
    margin: 1px 5px 0 0;
    width: 18px; height: 18px;
    -webkit-transition: transform .35s cubic-bezier(.19,1,.22,1);
    transition: transform .35s cubic-bezier(.19,1,.22,1);
}
ul.horizontal li a.selected svg.icon {
    color: rgba(211, 45, 39, 1);
}
ul.horizontal li a:hover {
    text-decoration: none;
    border-bottom-color: inherit;
}
ul.horizontal li a.selected {
    color: inherit;
    border-bottom-color: rgba(211, 45, 39, 1);
}

.foldername {
    margin: 10px 0;
    color: rgba(211, 45, 39, 1);
    color: #2980B8;
    position: relative;
    user-select: none;
}
.foldername span {
    position: relative;
    padding-right: 25px;
    /*text-transform: uppercase;*/
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.foldername span.foldermore {
    position: absolute; top: -5px;
    width: 28px; height: 28px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
}
.foldername span:first-child svg.icon {
    position: absolute; right: 2px; top: 1px;
}
.foldername svg.icon {
    width: 18px; height: 18px;
}
.foldername svg.icon.more {
    cursor: pointer;
    padding: 5px;
    top: -5px;
    width: 28px; height: 28px;
}
.foldername span.off svg.icon {
    transform: rotateX(180deg);
}
.listcontrols {
    margin: 0 15px 30px 0;
    color: #323233;
}
.listcontrols .inner span.floright {
    margin-left: 40px;
}
.listcontrols .inner span.floright > * {
    float: left;
    padding: 8px;
    border-radius: 50%;
}
.listcontrols .inner div {
    cursor: pointer;
}

.listcontrols .inner div.selected {
    color: #d32d27;
}
.listcontrols .inner button {
    margin: 0 20px 0 0
}

.items .foldername,
.items .clears {
    display: none;
}
.items.folders .foldername,
.items.folders .clears {
    display: block;
}
.items .clears {
    margin-bottom: 20px;
}
.items .item.hidden + .clears {
    /*margin: 0*/
}
.items .item {
    width: calc(100% - 15px);
    height: 30px;
    margin: 0 15px 0 0;
    float: left;
    padding: 5px 0 5px 55px;
    position: relative;
    border-radius: 5px;
}
.items .item:hover {
    background-color: rgba(0, 0, 0, .05)
}
.items .item span.itemicon {
    position: absolute; left: 8px; top: 3px;
    width: auto; height: auto;
    background-color: transparent;
    color: #2980B8;
    background-color: #6AB1C1;
    background-color: #6EB1DA;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    box-shadow: inset 0 0 0 1px #2980B8;
}
.items .item span.itemicon svg.icon {
    width: 14px; height: 14px;
}
.items .item .itemmore {
    opacity: 0;
    position: absolute; top: 4px; right: 5px;
    width: 22px; height: 22px;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    color: #2980B8;
    background-color: white;
}   
.items .item svg.more {
    width: 18px; height: 18px;
}
.items .item .itemmore:hover,
.items .item .itemmore.on,
.foldername span.foldermore:hover,
.foldername span.foldermore.on {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}
.items .item:hover .itemmore,
.items .item .itemmore.on,
.foldername:hover span.foldermore,
.foldername span.foldermore.on {
    opacity: 1;
}
.items .item > div {
    float: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    width: 25%;
}
.items .item div.name {
    font-weight: 500
}


.items.cards .item {
    box-shadow: 0 1px 3px rgba(59, 74, 84, 0.12), 0 1px 2px rgba(59, 74, 84, 0.24);
    width: calc(20% - 15px);
    height: 60px;
    margin: 0 15px 15px 0;
    padding: 9px 0 9px 55px;
    background-color: white;
    cursor: pointer;
}
.items.cards .item:hover {
    box-shadow: 0 5px 10px rgba(59, 74, 84, 0.19), 0 3px 4px rgba(59, 74, 84, 0.23)
}
.items.cards .item span.itemicon {
    left: 8px; top: 10px;
    width: 40px; height: 40px;
    border-radius: 50%;
    padding: 8px;
    box-shadow: none;
    background-color: #E3F1F9;
}
.items.cards .item span.itemicon svg.icon {
    width: 24px; height: 24px;
}
.items.cards .item > div {
    float: none;
    width: auto;
    font-size: 15px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.items.cards .item .moredetails {
    display: none
}
.on > .inlinemenu {
    opacity: 1;
    height: auto;
    transform: translate(0, 0);
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}
.inlinemenu {
    transform: translate(0, -20px);
    opacity: 0;
    height: 0; overflow: hidden;
    position: absolute; right: 0; z-index: 2;
    background: white;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: none;
    font-size: 15px;
    min-width: 170px;
    color: rgba(0, 0, 0, .8);
}
.inlinemenu .inner {
    padding: 8px 0;
}
.inlinemenu .inner ul li {
    padding: 5px 20px;
}
.inlinemenu .inner ul li:not(.sep):hover {
    background-color: rgba(0, 0, 0, .05);
}
.inlinemenu .inner ul li.sep {
    cursor: default;
    user-select: none;
    
}
.inlinemenu .inner ul li.sep:before {
    content: "";
    height: 0;
    display: block;
    border-top: 1px solid lightgray
}
.inlinemenu .inner ul li svg {
    color: #2980B8;
    width: 18px; height: 18px;
    float: left; margin-right: 15px;
}
*[data-subpageid] {
    display: none;
}
*[data-subpageid] p.desc {
    font-size: 90%;
    max-width: 700px;
    line-height: 1.5;
    padding: 0 40px 30px 0;
    position: relative;
    margin: 0 0 30px 0;
    border-bottom: 2px solid rgba(0, 0, 0, .05)
}
*[data-subpageid] p.desc svg,
h3 svg {
    width: 20px;
    height: 20px;
    position: absolute; right: 0; top: 0;
}
*[data-subpageid] p.desc svg:first-child {
    right: 20px;
}
.shown[data-subpageid] {
    display: block
}

h3.opener + .section {
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transform: translate3d(0, -20px, 0);
}
h3.opener.openeron + .section {
    opacity: 1;
    height: auto;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}
h3.opener.openeron svg {
    transform: rotateX(180deg);
}
h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 40px 0 15px 0;
    color: rgba(0, 0, 0, .7);
}





.settable {
    border-collapse: separate; 
    border-spacing: 0;
    width: 100%;
}
.settable * {
    vertical-align: middle !important;
}
.settable tr:first-child {
    margin-bottom: 10px
}
.settable tr:not(:first-child):hover {
    background-color: rgba(0, 0, 0, .05);
}
.settable th  {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
    color: white;
    background-color: #2980B8;
}
.settable th,
.settable td {
    padding: 5px 5px;
}
.settable td {
    font-size: 90%;
}
.settable .setaction {
    white-space: nowrap;
}
.settable img {
    width: 160px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
    filter: grayscale(100%);
}
.settable tr:hover img {
    filter: none
}
.settable svg {
    width: 18px; height: 18px;
    margin: 0 5px;
}
.settable.auth td:first-child {
    width: 180px;
}
.settable.auth td:nth-child(2) {
    width: 120px;
}
.settable.auth th,
.settable.auth td {
    padding: 8px 5px;
}
.settable.rules td:first-child {
    width: 50%;
}
.settable:not(.auth) th:not(:first-child),
.settable:not(.auth) td:not(:first-child) {
    text-align: center
}
.settable.never td:first-child {
    width: 80%;
}
.settable .eqdomain {
    display: inline-block;
}
.settable .eqdomainstxt {
    display: none
}
.settable .eqdomain:not(:last-child)::after {
    content: ",";
    margin-right: 5px;
}



.dialog {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10;
    background-color: rgba(0, 0, 0, .05);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.dialog .box {
    display: inline-block;
    text-align: left;
    transform: translate3d(0, -20px, 0);
    margin: 10% 40px 0 40px;
    min-height: 180px;
    max-width: 500px; min-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(59, 74, 84, 0.12), 0 1px 2px rgba(59, 74, 84, 0.24);
    position: relative;
}
.dialog.shown {
    opacity: 1;
    visibility: visible;
}
.dialog.shown .box {
    transform: translate3d(0, 0, 0);
}
.dialog .box .inner {
    padding: 25px 30px;
}
.dialog .box .inner p {
    margin-bottom: 0
}
.dialog .box .closer {
    position: absolute; top: 5px; right: 5px; z-index: 1;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
}
.dialog .box .closer:hover {
    background-color: rgba(0, 0, 0, .05);
}
.dialog .box h1 {
    margin-top: 0;
    font-size: 22px;
    font-weight: 600;
    color: rgba(0, 0, 0, .7);
}