html {overflow-y: auto}
div.contentwrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -51px;
}
div.footerpush {
    height: 80px
}
div.footer {
    position: static
}