/*
    CSS RESET BEGIN

    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 
    CSS RESET END
*/



html {overflow-y: hidden; background-color: #E5E5E5}
html, body {height: 100%}
body {
    padding: 0;
    color: #606060;
    font-family: "Helvetica neue", Helvetica, arial, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    line-height: normal;
}
h1 {
    height: 80px; line-height: 80px;
    margin-right: 20px;
    font-size: 28px;
    font-weight: normal;
    position: relative; z-index: 9;
}
h2 {
    margin: 0 0 20px 0;
    font-size: 15px;
    font-weight: bold;
}
p {
    margin: 0 0 15px 0
}
b, strong {
    font-weight: bold
}
i {
    font-style: italic
}
blockquote {
    margin: 10px 40px
}
small
{
    font-size: 10px;
}
a {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
a, a:active, a:visited {
    color: #E4A33B;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}
a.under, a.hovu:hover {
    text-decoration: underline;
}
h1 a {  /* for the prototype only */
    opacity: 0.4;
}
.floleft {
    float: left
}
.floright {
    float: right
}
.clears {
    clear: both; width: 0; height: 0; line-height: 0; overflow: hidden;
}
.bold {
    font-weight: bold
}
.centered {
    text-align: center;
}
.righted {
    text-align: right;
}
.lefted {
    text-align: left;
}
.inliner {
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1; *display: inline;
}
.ie6dmrgfix {
    *display: inline;   /* IE6 double-margin bug fix */
}
.nowrap {
    white-space: nowrap
}
.nodisplay,
.hidden {
    display: none !important;
}
.lh150 {
    line-height: 150%;
}
.lh200 {
    line-height: 200%;
}
span.rqo {
    padding: 0 5px;
    color: #B0B0B0;
}
ul.default,
ul.bullet {
    list-style-type: disc;
    padding: 0;
    margin: 0 0 0 20px
}
ol.default {
    list-style-type: decimal;
    padding: 0;
    margin: 0 0 0 20px
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track-piece  {
    background-color: #F0F0F0;
}
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    
    background-color: #CDCDCD;
    border: 1px solid #F0F0F0;
}
body {
    scrollbar-face-color: #CDCDCD;
    scrollbar-track-color: #F0F0F0;
    scrollbar-arrow-color: #606060;
    scrollbar-3dlight-color: #F0F0F0;     /* no effect in ie10 */
    scrollbar-darkshadow-color: #F0F0F0;  /* no effect in ie10 */

    scrollbar-highlight-color: #F0F0F0;   /* no effect in ie10 */
    scrollbar-shadow-color: #F0F0F0;

    *scrollbar-highlight-color: #CDCDCD;  /* ie6-7  */
    *scrollbar-shadow-color: #CDCDCD;     /* ie6-7  */
}




div.arrow, 
span.arrow {
    width: 0; height: 0; font-size: 0; line-height: 0; overflow: hidden;
    border: 6px solid transparent;
    _border: 4px solid #F3F3F3;
    _filter: chroma(color=#F3F3F3);
    cursor: pointer;
}
div.arrow.dArrow,
span.arrow.dArrow, 
span.arrow.select,
.exp .arrow,
.open .arrow {
    border-top-color: #909090;
    top: 3px;
}
div.arrow.rArrow,
span.arrow.rArrow,
.coll .arrow,
.closed .arrow {
    border-left-color: #909090;
    top: 1px;
}
div.x {
    position: absolute; z-index: 9; top: 15px; right: 15px;
    overflow: hidden;
    cursor: pointer;
    width: 24px; height: 24px;
    background: url("/img/x-gray-normal.png") 0 0 no-repeat;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}
div.x:hover {
    background-image: url("/img/x-gray-hover.png");
}
div.policypanel li.policyPerson div.x {
    top: 8px; right: 3px;
    display: none;
}
div.note div.x {
    top: -5px; right: -5px;
}
div.flyout div.x#x1 {
    border: 0; padding: 0;
    width: 20px; height: 20px;
    background: #A0A0A0 url("/img/paneclose.png") 0 0 no-repeat;
    background: rgba(0, 0, 0, 0.3) url("/img/paneclose.png") 0 0 no-repeat;
    border-radius: 0;
}
div.flyout div.policy div.x {
    top: 2px; right: 1px;
    display: none;
}
div.flyout div.policy:hover div.x,
div.policypanel li.policyPerson:hover div.x {
    display: block;
}
div.itemrow.ui-draggable-dragging div.x {
    display: none !important;
}


div#bannerDiv {
    margin: 0 -30px;   /* !!! -30 */
    height: 177px;
    width: 600px;
}
div#bannerDiv div.inner {
    padding: 40px 40px 40px 280px;
    color: white;
}
div.trongoogle,
div.tronfailgoogle
{
    background: url('/img/googleauth.png') no-repeat 0 0; 
}
div.tronjoinme,
div.tronfailjoinme 
{
    background: url('/img/joinmeauth.png') no-repeat 0 0; 
}
div.troncubby,
div.tronfailcubby 
{
    background: url('/img/cubbyauth.png') no-repeat 0 0; 
}
div.trono365,
div.tronfailo365 
{
    background: url('/img/officeauth.png') no-repeat 0 0; 
}
div.flyout .editable,
div#emailaddress2 {
    min-width: 20px;
    min-height: 20px;
    max-width: 100%;
    word-wrap: break-word;
}
.editable:hover,
.editable:focus {
    color: white;
    background-color: #202020;
    cursor: url("/img/pencil3.png") 4 18,auto;
}
.editable:focus {
    outline: none;
    -moz-box-shadow: 0 0 1px 1px #FFCD46;
    -webkit-box-shadow: 0 0 1px 1px #FFCD46;
    box-shadow: 0 0 1px 1px #FFCD46;
}
.editable {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}


div.header,
div.footer {
    position: absolute; z-index: 10; top: 0; left: 0;
    width: 100%; min-width: 1000px;
    height: 51px;
    color: white;
}
div.footer {
    top: auto; bottom: 0;
    border-bottom: 0;
    color: #A0A0A0;
}
div.header div.inner,
div.footer div.inner {
    width: 100%; min-width: 1000px;
    margin: 0 auto;
    line-height: normal;
    position: relative; z-index: 1;
    font-weight: bold;
}
div.footer div.inner {
    font-weight: normal;
    line-height: 51px;
}
div.footer div.inner p {
    margin: 0 20px;
}
div.header {
    color: #606060;
    background-color: #FFCD46;
}
div.header div.account {
    position: absolute; z-index: 10; top: 10px; right: 15px;
    margin: 0;
}
div.header div.gettingstarted {
    padding-right: 30px;
}
div.header div.gettingstarted i {
    background: url('/img/getstart2.png') no-repeat top right;
    width: 18px; height: 18px;
    padding-left: 5px;
    position: relative; z-index: 1; top: 4px;
}
div.header div.gettingstarted:hover i {
    background-image: url('/img/getstart1.png');
}
div.header a {
    color: #606060
}
div.header a.logo {
    position: absolute; z-index: 1; top: 0; left: 0;
    height: 51px;
}
div.header a.logo img {
    margin-top: 1px;
}
div.header ul {
    margin-left: 230px;
    line-height: 50px;
    font-size: 13px;
    font-weight: normal
}
div.header ul li {
    float: left;
    margin-right: 30px
}
div.header ul li a.active,
div.header ul li a:hover,
div.header div.gettingstarted a:hover {
    color: white
}

div.buttons {
    margin-bottom: 20px
}
div.sectionheader {
    height: 80px;
}
div.sectionheader h1 {
    white-space: nowrap;
    height: auto; line-height: normal;
    padding-top: 20px;
}
div.sectionheader div.buttons {
    margin: 0 0 0 10px;
    white-space: nowrap;
    position: relative; z-index: 9; top: 7px;
}




div.peoplewrap,
div.policieswrap {
    min-height: 100%;
    position: absolute; z-index: 1; top: 0; left: 0;
}
div.peoplewrap {
    z-index: 2;
    width: 31%; min-width: 310px;
    padding-left: 0;
}
div.policieswrap {
    width: 100%;
    min-width: 1000px;
}
div.content {
    padding: 51px 15px 0 20px;
}
div.content div.flyoutcontentinner {
    position: relative; z-index: 2;   /* for helping the flyout panel positioning */
}
div.content div.contentinner {
    height: 530px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative; z-index: 1;   /* for the scroller script */
}
div.policieswrap div.content div.contentinner {
    overflow-y: scroll;
}
div.policieswrap div.content {
    padding-left: 31%;
}
div.policieswrap div.contentpadding {
    margin-left: 0;
    -webkit-transition: margin .2s ease-out;
    -moz-transition: margin .2s ease-out;
    -ms-transition: margin .2s ease-out;
    -o-transition: margin .2s ease-out;
    transition: margin .2s ease-out;
}
div.policieswrap.slim div.contentpadding {
    margin-left: 280px;
}






ul.items {
    margin-bottom: 10px;
}
ul.items {
    margin: 0;
    border: 0;
    box-shadow: none;
    background-color: #F2F2F2;
}
ul.items li {
    line-height: 40px; *height: 40px;
    white-space: nowrap;
    background-color: white;
    font-weight: normal;
    padding-left: 90px;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 1px;
}
ul.items li.group {
    font-weight: bold;
}
div.peoplewrap div.sectionheader table {
    width: 100%
}
div.peoplewrap div.sectionheader table td:first-child {
    width: 10%
}
div.peoplewrap div.contentinner {
    background-color: #F2F2F2
}
div.peoplewrap ul.items li {
    position: absolute; z-index: 1;
    padding: 0;
    width: 100%;
    
}
div.peoplewrap ul.items li div.itemrow {
    background: white url('/img/blank.png') no-repeat 30px 0;
}
div.peoplewrap ul.items li.group div.itemrow {
    background: white url('/img/grblank.png') no-repeat 30px 0;
}
div.peoplewrap ul.items li.selected div.itemrow {
    background: white url('/img/blank-selected.png') no-repeat 30px 0;
}
div.peoplewrap ul.items li.group.selected div.itemrow {
    background: white url('/img/grblank-selected.png') no-repeat 30px 0;
}
div.itemrow {
    position: relative; z-index: 1;
    line-height: 40px; height: 40px;
    overflow: hidden; text-overflow: ellipsis;
    padding: 0 35px 0 85px;
    cursor: move;
}
div.policypanel div.people div.itemrow {
    padding: 0
}
div.peoplewrap ul.items li div.itemrow span.hi {
    background-color: #FFCD46
}
ul.items li img,
div.itemrow img {
    position: absolute; z-index: 1; left: 30px; top: 0;
    width: 40px; height: 40px;
    background-color: #F9F9F9;
}
div.peoplewrap ul.items li div.itemrow:hover {
    background-color: #F2F2F2;
}
div.peoplewrap ul.items li div.itemrow:hover i {
    display: block
}
div.peoplewrap.fat ul.items li div.itemrow:hover i {
    display: none
}
div.peoplewrap.fat ul.items li.selected div.itemrow i {
    background-image: url("/img/panelclose2.png");
    display: block;
}
div.peoplewrap.r2d2 ul.items li div.itemrow:hover i,
div.peoplewrap.r2d2.fat ul.items li.selected div.itemrow i {
    display: none
}

ul.items li.cantfly {
    cursor: auto;
}
ul.items li.cantfly:hover {
    background-color: inherit;
}
ul.items li.selected div.itemrow {
    background-color: #FFF3D3 !important;
    border-left-color: #FFF3D3 !important;
    color: #C88536;
    font-weight: bold;
}
ul.items li.exp span.arrow {
    position: absolute; z-index: 1; left: 11px; top: 18px;
}
ul.items li.coll span.arrow {
    position: absolute; z-index: 1; left: 15px; top: 13px;
}
ul.items li i,
ul.items li div.borg {
    display: none;
    position: absolute; z-index: 1; right: 21px; top: 10px;
    width: 20px; height: 20px;
    background-image: url("/img/panelclose3.png");
    cursor: pointer;
}
ul.items li div.borg {
    display: block;
    right: 50px;
    width: 12px; height: 12px;
    top: 10px;
    border: 3px solid white;
    background: #FFCD46;
}
ul.items li.i1 div.itemrow { border-left: 20px solid #F2F2F2; }
ul.items li.i2 div.itemrow { border-left: 40px solid #F2F2F2; }
ul.items li.i3 div.itemrow { border-left: 60px solid #F2F2F2; }
ul.items li.i4 div.itemrow { border-left: 80px solid #F2F2F2; }
ul.items li.i5 div.itemrow { border-left: 100px solid #F2F2F2; }

div.content div.contentinner div.policy:last-child {
    margin-bottom: 0
}


div.draghere {
    border: 1px dashed white !important;
    opacity: 0.7;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    cursor: default;
    background: url("/img/dropw.png") no-repeat 8px 3px;
}


div.flyout {
    width: 285px;
    position: absolute; z-index: 0; top: 0; right: 0;
    overflow: hidden;
    -webkit-transition: right .2s ease-out;
    -moz-transition: right .2s ease-out;
    -ms-transition: right .2s ease-out;
    -o-transition: right .2s ease-out;
    transition: right .2s ease-out;
}
div.flyout.fly {
    right: -280px;
}
div.flyoutbody {
    overflow-x: hidden;
    overflow-y: auto;
    color: white;
    background-color: #777;
    min-height: 100%;
    width: 275px;
    position: absolute; z-index: 1; top: 0; right: 0;
    border-left: 5px solid #E5E5E5;
}
div.flyout div.pointer {
    font-size: 0; overflow: hidden; width: 0; height: 0;
    border: 10px solid transparent;
    border-left: 0;
    border-right-color: #AAAAAA;
    position: absolute; z-index: 2; top: 115px; left: 0;
    display: none !important;
}
div.flyout div.inner {
    padding: 20px 20px 10px 20px;
}
div.flyout div.photo {
    width: 275px;
    height: 275px;
    background-color: white;
    position: relative; z-index: 1; top: -20px; left: -20px;
}
div.flyout div.photo img.prpic {
    width: 100%;
    height: 100%;
    border: 0;
    position: absolute; z-index: 1; top: 0; left: 0;
}
div.flyout div.photo form {
    position: absolute; z-index: 2; top: 40px; left: 20px;
}
div.flyout div.photo form input#imageUpload {
    width: 190px;
}





div.flyout div.overlay1 {
    position: absolute; z-index: 2; bottom: 0; left: 0;
    width: 235px;
    padding: 0 20px 15px 20px;
    background-color: transparent;  /* for the IE filters below */ 
    background-color: rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);       /* IE6 & 7 */
}
div.flyout div.overlay2 {
    position: absolute; z-index: 2; top: 0; left: 275px;
    width: 235px; height: 215px;
    padding: 40px 20px 20px 20px;
    background-color: transparent;  /* for the IE filters below */ 
    background-color: rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; /* IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);       /* IE6 & 7 */
}
div.flyout div.in {
    left: 0;
    opacity: 1;
    animation: slidein ease-out 0.15s;
    -moz-animation: slidein ease-out 0.15s;
    -webkit-animation: slidein ease-out 0.15s;
    -o-animation: slidein ease-out 0.15s;
}
@keyframes slidein {
    from {left: 275px; opacity: 0}
    to {left: 0; opacity: 1;}
}
@-moz-keyframes slidein {
    from {left: 275px; opacity: 0}
    to {left: 0; opacity: 1;}
}
@-webkit-keyframes slidein {
    from {left: 275px; opacity: 0}
    to {left: 0; opacity: 1;}
}
@-o-keyframes slidein {
    from {left: 275px; opacity: 0}
    to {left: 0; opacity: 1;}
}
div.flyout div.out {
    left: -275px;
    opacity: 0;
    animation: slideout ease-out 0.15s;
    -moz-animation: slideout ease-out 0.15s;
    -webkit-animation: slideout ease-out 0.15s;
    -o-animation: slideout ease-out 0.15s;
}
@keyframes slideout {
    from {left: 0; opacity: 1}
    to {left: -275px; opacity: 0;}
}
@-moz-keyframes slideout {
    from {left: 0; opacity: 1}
    to {left: -275px; opacity: 0;}
}
@-webkit-keyframes slideout {
    from {left: 0; opacity: 1}
    to {left: -275px; opacity: 0;}
}
@-o-keyframes slideout {
    from {left: 0; opacity: 1}
    to {left: -275px; opacity: 0;}
}





div.flyout div.bold,
div.flyout div.fileinput {
    margin-top: 15px
}
div.flyout div {
    font-size: 12px;
    line-height: 20px;
}
div.flyout div.policies {
    width: 231px;
    margin: 0 auto 20px auto;
}
div.flyout div.buttons {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}
div.flyout #addAnother {
    text-align: left;
    margin: 0 0 10px 3px;
}









div.policy {
    font-size: 12px;
    text-align: center;
    width: 130px; height: 130px;
    float: left;
    color: #606060;
    /*margin: 16px 0 0 22px;*/
    position: relative; z-index: 1;
    border: 1px solid white;
    background: white url("/img/cubby.png") 30px 20px no-repeat;
}
div.app 
{
    font-size: 12px;
    text-align: center;
    width: 130px; height: 130px;
    display: inline-block;
    color: #606060;
    position: relative; z-index: 1;
    border: 1px solid white;
    background-image: url("/img/appcubby.png");
}
div.app.o365 {
    background-image: url("/img/appo365.png");
}
div.policy.o365 {
    background-image: url("/img/o365.png");
}
div.flyout div.policy {
    width: 98px; height: 98px;
    background-position: center 15px;
}
div.policy.joinme {
    background-image: url("/img/joinme.png");
}
div.flyout div.policy.joinme {
    background-image: url("/img/joinme-small.png");
}
div.app.joinme {
    background-image: url("/img/appjoinme.png");
}
div.policy.google {
    background-image: url("/img/google.png");
}
div.flyout div.policy.google {
    background-image: url("/img/google-small.png");
}
div.app.google {
    background-image: url("/img/appgoogle.png");
}
div.flyout div.policy.cubby {
    background-image: url("/img/cubby-small.png");
}
div.dialog div.app.cubby {
    background-image: url("/img/appcubbysmall.png");
}
div.dialog div.app.joinme {
    background-image: url("/img/appjoinmesmall.png");
}
div.dialog div.app.o365 {
    background-image: url("/img/appo365small.png");
}
div.flyout div.policy.o365 {
    background-image: url("/img/office-small.png");
}
div.dialog div.app.google {
    background-image: url("/img/appgooglesmall.png");
}
div.policy h2,
div.app h2 {
    font-size: 12px;
    font-weight: normal;
    margin: 0; padding: 0;
    height: 130px;
}
div.app h2 {
    height: auto;
    position: absolute; z-index: 1; bottom: 10px;
    width: 100%;
}
div.app span.policyname{
    display: none;
}
div.policy .policyname {
    font-size: 12px;
    line-height: normal;
    background-color: white;
    width: 94%;
    margin-left: 3%;
    word-wrap: break-word;
    position: absolute; z-index: 1; left: 0; bottom: 5px;
}
div.policy span.washed {
    position: absolute; z-index: 1; top: 7px; right: 11px;
    color: #A0A0A0;
    font-size: 13px;
    line-height: normal;
    padding-left: 15px;
    background: url('/img/small-user.png') no-repeat 0 2px;
}
div.flyout div.policy {
    margin: 0 7px 10px 7px;
}
div.flyout div.policy.draghere {
    line-height: normal;
    padding: 0;
    border-color: white;
    background-color: transparent;
    background-image: url("/img/dropw.png");
    background-position: 34px 20px;
}
div.flyout div.policy.draghere div.policyname {
    color: #EEE;
    background: 0;
    font-size: 11px;
    padding: 0 15px 5px 15px;
    width: auto;
}
/*
div.flyout div#personPoliciesContainer div.policy:nth-child(odd) {
    margin-right: 0;
}
*/
div.policieswrap div.policy,
div.dialog div.policy,
div.appcatalog div.app,
div.appListContainer div.app {
    width: 130px; height: 130px;
    margin: 0 15px 15px 0;
    border: 0;
    cursor: pointer;
}
div.appListContainer {
    text-align: center;
    white-space: nowrap;
    overflow-x: auto;
}
div.appListContainer div.app:last-child {
    margin-right: 0
}
div.dialog div.app {
    width: 120px; height: 120px;
}
div.dialog div.policies {
    width: 450px
}
div.dialog div.policy,
div.appcatalog div.app {
    border: 1px solid #EAEAEA;
}
div.appcatalog div.app {
    border: 5px solid white;
    width: 160px; height: 160px;
}
div.policieswrap div.policy.blank {
    background: #F0F0F0;
    cursor: default;
}
div.policieswrap div.policy.blank.plus {
    background-image: url("/img/pluspolicy.png");
    background-repeat: no-repeat;
    background-position: 30px 30px;
    cursor: pointer;
}
div.policieswrap div.policy .policyname, 
div.dialog div.policy .policyname {
    bottom: 10px;
    background: 0;
}
div.opaque {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
    /*filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);*/
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
div.tile,
div.policy {
    overflow: hidden;
}
div.policieswrap div.tile,
div.appcatalog div.app {
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
div.tile.activetile,
div.draghere.activetile,
div.draghere.active {
    /*-moz-box-shadow: inset 0 0 0 2px #FFCD46;
    -webkit-box-shadow: inset 0 0 0 2px #FFCD46;
    box-shadow: inset 0 0 0 2px #FFCD46;*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
div.activetile.ui-draggable-dragging {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.tile.ui-draggable-dragging {
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -ms-transition: -ms-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
}
div.tile.hovering {
    -moz-transform: scale(.77);
    -webkit-transform: scale(.77);
    -ms-transform: scale(.77);
    -o-transform: scale(.77);
    transform: scale(.77);
}

div.policieswrap div.policy.activetile,
div.opaque:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    filter: none;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
}
div.appdetails {
    position: relative; z-index: 1;
    background-color: #777;
    color: white;
    min-height: 100px;
    margin: 0 -30px;
    padding: 40px 60px 30px
}
div.appdetails div.description,
div.appdetails div.tags {
    margin-bottom: 30px
}
div.appdetails div.description {
    line-height: 150%;
    max-width: 700px;
}
div.appdetails h2 {
    margin-bottom: 20px;
    font-size: 24px
}
div.appdetails div.inliner {
    width: 49%
}
div.appcatalog div.appdetails {
    margin: 0
}
div.appcatalog div.appdetails div.subscriptions,
div.appcatalog div.appdetails div.tags {
    width: 40%
}










div.policypanel {
    color: white;
    background-color: #777;
    float: left;
    width: 100%;
    margin: 0 0 15px 0;
    border-right: 15px solid #E5E5E5;
    position: relative; z-index: 2;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div.policypanel.on {
    min-height: 400px;
}
div.policyanim {
    -moz-transition: height .07s;
    -webkit-transition: height .07s;
    -ms-transition: height .07s;
    -o-transition: height .07s;
    transition: height .07s;        
}
div.policypanel div.arrow,
div.appdetails div.arrow {
    width: 0; height: 0; overflow: hidden;
    border-bottom: 15px solid #777;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute; z-index: 1;
    top: -16px;
}
div.appdetails div.arrow {
    border-bottom: 15px solid #777;
}
div.policypanel h2.policypanelname {
    padding: 20px 0 20px 25px;
    margin: 0;
    font-size: 20px;
    width: 85%;
    overflow: hidden;
}
div.policypanel h2.policypanelname span.editable {
    min-width: 19px;
    min-height: 19px;
    display: inline-block;
    white-space: nowrap;
}
div.policypanel div.buttons {
    padding: 20px 0 20px 15px;
    margin: 0;
}
div.policypanel div.buttons button {
    margin-bottom: 5px
}
div.policypanel div.peopleandpermissions {
    border: 5px solid #777;
    border-width: 0 15px 15px 15px;
    overflow: auto;
}
div.policypanel h3,
div.appdetails h3 {
    font-size: 15px;
    padding: 15px 15px 15px 0;
    background-color: white;
    font-weight: bold;
}
div.appdetails h3 {
    background: none;
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px;
}
div.policypanel div.permissions h3 {
    padding-left: 15px;
}
div.policypanel div.permissions {
    width: 35%;
    height: 100%;
    border-left: 1px solid #888; margin-left: -2px;
}
div.policypanel div.permissions div.settingsFrame {
    padding-left: 20px;
    min-height: 100%;
    background-color: #777;
}
div.policypanel div.settingGroup {
    position: relative; z-index: 1;
    border-top: 1px solid #A0A0A0;
    padding-top: 15px;
}
div.policypanel div.settingGroup:first-child {
    border: 0;
}
div.policypanel div.settingGroup h2 {
    padding-left: 18px;
    cursor: pointer;
}
div.policypanel div.settingGroup span.arrow {
    position: absolute; z-index: -1; top: 21px; left: 0;
    border-top-color: #F0F0F0;
}
div.policypanel div.settingGroup.closed span.arrow {
    top: 17px; left: 3px;
    border-top-color: transparent;
    border-left-color: #F0F0F0;
}
div.policypanel div.settingGroup div.settingListContainer {
    margin: 0 0 15px 5px;
}
div.policypanel div.settingGroup.closed div.settingListContainer,
div.policypanel div.settingGroup.closed p.settingGroupDescription {
    display: none
}
div.policypanel p.settingGroupDescription {
    margin: -5px 0 15px 19px;
}
div.policypanel div.permissions select {
    border: 0;
}
div.policypanel div.innerSettingListContainer div.settingrow {
    padding: 0;
    margin: 10px 0 0 20px;
}

div.policypanel div.people {
    width: 100%;
    margin-right: -35%;
}
div.policypanel div.people div.inner {
    margin-right: 35%;
    position: relative; z-index: 1;
}
div.policypanel div.people div.filtercheck {
    padding: 15px 15px 5px 15px;
}
div.policypanel div.people div.filtercheck input {
    margin-right: 5px;
    position: relative; z-index: 1; top: 2px;
}
div.policypanel div.people div.inner div.list {
    padding: 15px 10px;
    border-right: 1px solid #888;
    
}
div.policypanel div.people div.draghere {
    height: 38px; line-height: 37px;
    white-space: normal;
    border: 1px dashed #A0A0A0 !important;
    background-position: 3px 2px;
    padding-left: 38px;
}
div.policypanel div.people ul.items {
    background: none;
}
div.policypanel div.people ul.items li {
    width: 21%;
    max-width: 190px;
    min-width: 135px;
    margin: 0 1% 5px 1%;
    padding: 0;
    border: 0;
    color: #606060;
    background-color: white;
    float: left;
    overflow: hidden; text-overflow: ellipsis;
    position: relative; z-index: 1;
}
div.policieswrap.slim div.policypanel div.people ul.items li {
    width: 30%;
}
div.policypanel div.people ul.items li.draghereContainer {
    background: none;
    color: #B0B0B0;
}
div.policypanel div.people ul.items li img {
    left: 0;
}
div.policypanel div.people ul.items li span {
    padding: 0 10px 0 52px;
}
div.policypanel div.people ul.items li div.draghere span.inner {
    padding: 0;
    white-space: nowrap;
    color: #EEE;
    font-size: 11px;
    font-weight: bold;
}
div.policypanel div.settingrow {
    padding: 0 15px 10px 15px;
}
div.policypanel div.settingsFrame label {
    display: block;
    padding-left: 20px;
    position: relative; z-index: 1;
}
div.policypanel div.settingsFrame label input[type="checkbox"],
div.policypanel div.settingsFrame label input[type="radio"] {
    position: absolute; z-index: 1; top: 1px; left: 0;
}
div.policypanel div.settingsFrame div.radioButtonOption {
    margin-bottom: 5px
}
div.pager {
    text-align: left;
    white-space: nowrap;
    padding-top: 20px;
}
div.pager ul li {
    font-size: 30px;
    line-height: 22px;
    overflow: hidden;
    float: left;
    padding: 2px 0 0 0;
    margin: 0 2px;
    color: #E0E0E0;
    cursor: pointer;
}
div.pager ul li.prev,
div.pager ul li.next {
    background-color: white;
    padding: 0 10px 5px 10px;
    margin: 0 0 0 6px;
}
div.pager ul li.next {
    margin: 0 12px 0 2px;
}
div.pager ul li.active {
    color: #E4B83F !important;
}
div.flyout div.pager {
    padding: 0;
    position: absolute; z-index: 9; top: 10px; left: 20px;
    background: #A0A0A0;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 2px;
}
div.flyout div.pager ul li {
    background: none;
    padding: 2px 2px;
    margin: 0 3px;
    color: white;
}
div.policypanel div.pager {
    position: absolute; z-index: 1; top: 12px; right: 10px;
    padding: 0;
    max-width: 150px;
    overflow: hidden;
}
div.policypanel div.pager ul li {
    cursor: default;
}
div.policypanel div.pager ul li.active {
    cursor: pointer;
}
div.policypanel div.pager ul li#numbers {
    color: white;
    font-size: 12px;
    padding-right: 10px;
    cursor: default;
}




div.appcatalog {
    min-width: 965px;
    margin: 0 auto;
    padding-right: 20px;
}
div.tags div.tag {
    float: left;
    border: 2px solid #A8A8A8;
    color: white;
    margin: 0 5px 5px 0;
    padding: 3px 6px 4px 6px;
    border-radius: 2px;
}
div.subscriptions div.haspie {
    padding: 10px 50px 0 0;
    min-width: 100px;
    min-height: 110px;
    margin-bottom: 40px;
    border-right: 1px solid #999;
    background: url('/img/pie-icon-dark.png') no-repeat 32px 44px;
}
div.dialog div.subscriptions div.haspie,
div.dialog div.subscriptions div.numbers {
    margin-bottom: 0
}
div.dialog div.subscriptions div.haspie {
    border-right-color: #EEE;
    background: url('/img/pie-icon-light.png') no-repeat 32px 44px;
}
div.subscriptions div.pie {
    width: 80px;
    height: 80px;
    border: 18px solid #FAC225;
    border-radius: 100%;
   
}
div.subscriptions div.numbers {
    padding-left: 50px;
    margin-bottom: 40px;
}
div.subscriptions div.numbers div.inuse,
div.subscriptions div.numbers div.avail {
    color: #FAC01F;
    font-weight: bold;
    font-size: 30px;
}
div.subscriptions div.numbers div.avail {
    color: #83C300;
}



div.loading {
    position: absolute; z-index: 11; left: 50%; top: -1000px;
    white-space: nowrap;
}
div.loading.on {
    top: 165px;
}
div.loading div.inner {
    background-image: url("/img/spinner.gif"); background-repeat: no-repeat; background-position: 18px 16px;
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1; *display: inline;
    background-color: #222;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    cursor: wait;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 0 25px 0 45px;
    line-height: 50px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    position: relative; z-index: 1; left: -50%; top: 0;
}
div.loading.longrunning div.inner {
    padding: 0 55px 4px 45px;
}
div.loading div.inner img {
    position: relative; z-index: 1; top: 3px; left: -8px;
}
div.loading div.progressBar {
    position: absolute; z-index: 1; left: 0; bottom: 2px;
    width: 100%;
    height: 4px;
    overflow: hidden;
    background-color: #111;
}
div.loading div.progressText {
    position: absolute; z-index: 1; right: 17px; top: 0;
    font-weight: normal;
}
div.loading div.progressIndicator {
    background-color: #FFCD46;
    height: 100%;
}


/* LMI.Appmatic.Index.App.createNotification('text')  */
div.note {
    position: fixed; z-index: 5; right: 20px; top: -1000px;
}
div.note.on {
    top: auto; bottom: 10px;
}
div.note div.inner {
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1; *display: inline;
    color: white;
    background-color: #404040;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px 30px;
    min-height: 34px;
    min-width: 100px;
    max-width: 500px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}
ul#noty_center_layout_container li {
    padding: 20px 30px
}
ul#noty_topCenter_layout_container li {
    background: #333;
    background: rgba(32,32,32,.8);
}

div.dialog {
    width: 100%; height: 0;    
    position: absolute; z-index: 10; top: -2000px; left: 0;
    text-align: center;
    *position: fixed;
}
div.dialog.on {
    top: 0; height: 100%;
}
div.dimmer {
    display: none;
    position: fixed; z-index: 1; top: 0; left: 0;
    *position: absolute;
    width: 100%; height: 100%;
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: 0.6;
}
div.dimmer.trans {
    background-color: transparent;
    cursor: wait;
}
div.dimmer.white {
    background-color: white;
}
div.on div.dimmer {
    display: block;
}
div.dialog div.box {
    position: relative; z-index: 2; 
    min-width: 450px; max-width: 600px;
    min-height: 100px; max-height: 80%; overflow-x: hidden; overflow-y: auto;
    text-align: left;
    display: -moz-inline-stack;
    display: inline-block;
    *zoom: 1; *display: inline;
    margin: 100px 40px 0 40px;
    background-color: white;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
div.dialog div.box div.inner {
    margin: 30px 20px 40px 20px;
    padding: 0 10px;
}
div.dialog div.box h1 {
    font-size: 28px;
    text-align: center;
    height: auto; line-height: normal;
    margin: 0 0 20px 0;
    color: inherit;
}
div.dialog div.box div.buttons {
    text-align: center;
    margin: 30px 0 0 0;
}

span.watermark {
    display: none
}

.circlebutton ul {
    position: absolute; z-index: 1; top: 30px; left: 0;
    color: white;
    font-size: 12px; line-height: normal;
    background-color: #AAAAAA;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: none;
}
.circlebutton.on ul {
    display: block;
}
.circlebutton ul li {
    padding: 5px 20px;
    white-space: nowrap;
    cursor: pointer;
}
.circlebutton ul li:first-child {
    padding-top: 12px;
}
.circlebutton ul li:last-child {
    padding-bottom: 12px;
}
.circlebutton ul li:hover {
    color: black;
}


div.dialog div.resultBlock {
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 20px;
}
div.dialog div.resultBlock h2 {
    cursor: pointer; 
    position: relative; z-index: 1;
    padding-left: 20px;
}
div.dialog div.resultBlock ul {
    margin: 0 0 20px 0;
    font-size: 12px;
    background-color: #F5F5F5;
    padding: 20px 10px 20px 30px;
    max-height: 200px;
    overflow-y: auto;
}
div.dialog div.resultBlock.open {
    border: 0;
}
div.dialog div.resultBlock.closed ul {
    display: none;
}
div.dialog div.resultBlock h2 .arrow {
    position: absolute; z-index: 1;
}
div.dialog div.resultBlock.open h2 .arrow {
    top: 8px; left: -4px;
}
div.dialog div.resultBlock.closed h2 .arrow {
    top: 4px; left: 0;
}
div.dialog label.fileinput {
    min-width: 50px;
    padding: 0 20px;
    height: 38px; line-height: 38px;
    color: #606060;
    background: white;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    border: 2px solid #DDDDDD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative; z-index: 1;
}
div.dialog label.fielinput:focus {
    box-shadow: inset 0 1px 4px  rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);
}
div.dialog input.fileinput {
    line-height: 0;
    margin: 0; padding: 0;
    font-size: 50px;
    position: absolute; z-index: 90; top: -2px; right: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    cursor: pointer; *cursor: hand;
}
div.dialog #filename {
    margin-right: 10px;
    height: 42px; line-height: 42px;
    padding: 0 15px;
    background-color: #F0F0F0;
    min-width: 270px;
}
div.dialog form#csvUploadForm {
    margin-top: 25px;
}
div.dialog#carocontent_dialog div.box {
    min-height: 500px
}
div.regmessage {
    padding-top: 100px;
}







div.accountbutton {
    position: relative; z-index: 1;
    cursor: pointer;
    font-size: 12px;
    background: #EFEFEF url('/img/in.png') no-repeat 8px 6px;
    height: 22px; line-height: 22px;
    padding: 4px 14px 4px 34px;

    text-shadow: 0em 1px 0.04em rgba(255, 255, 255, .8);

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border: none;
    outline: none;
    color: #E4A33B;
}
div.accountbutton:hover,
div.account.on div.accountbutton {
    background-color: #F5F5F5;
}
div.account div.actionmenu {
    display: none;
    cursor: default;
    text-shadow: none;
    position: absolute; z-index: 10; top: 40px; right: 0;
    border: 1px solid #B0B0B0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #333333;
    background-color: white;
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.15);
    box-shadow: 1px 2px 5px rgba(0,0,0,0.15);
}
div.account.on div.actionmenu {
    display: block
}
div.account div.actionmenu div.inner {
    margin: 10px 0;
    min-width: 150px;
}
div.account div.actionmenu div.pointer1, 
div.account div.actionmenu div.pointer2 {
    position: absolute;
    z-index: 3;
    top: -21px;
    right: 10px;
    bottom: auto;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 10px solid transparent;
    _border: 10px solid #F3F3F3;
    _filter: chroma(color=#F3F3F3);
    border-top: 0;
    border-bottom-color: #808080;
}
div.account div.actionmenu div.pointer2 {
    top: -20px;
    border-bottom-color: white;
}
div.account div.actionmenu div.separator {
    background-color: #D8D8D8;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    margin: 8px 0;
}
div.account div.actionmenu a {
    display: block;
    padding: 5px 35px 5px 15px;
    font-weight: normal;
}
div.account div.actionmenu a:hover {
    background-color: #FFCD46
}





div.itemrow.ui-draggable-dragging {
    color: #E4A33B;
    background: #FFF3D3 url('/img/blank.png') no-repeat 0 0;
    padding: 0 10px 0 50px;
    border: 1px solid #CADADA;
    min-width: 120px;
    max-width: 400px;
    white-space: nowrap;
    font-weight: bold;
}
div.itemrow.ui-draggable-dragging img {
    width: 40px; height: 40px;
    position: absolute; z-index: 1; top: 0; left: 0;
}
div.itemrow.multiuserdrag.ui-draggable-dragging {
    overflow: visible !important;
    cursor: move;
    height: 40px; line-height: 40px;
    -moz-box-shadow: 1px 1px #FFF3D3, 2px 2px #CADADA, 3px 3px #FFF3D3, 4px 4px #CADADA;
    -webkit-box-shadow: 1px 1px #FFF3D3, 2px 2px #CADADA, 3px 3px #FFF3D3, 4px 4px #CADADA;
    box-shadow: 1px 1px #FFF3D3, 2px 2px #CADADA, 3px 3px #FFF3D3, 4px 4px #CADADA;
    filter: none !important;
}
div.multiuserdrag div.sum {
    position: absolute; z-index: 10; left: 30px; bottom: -15px;
    color: #333;
    background-color: #FFCD46;
    padding: 3px 5px;
    min-width: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px
}


/* everything that pops in by animation, zooming and fading in */
div.zooom {
    -moz-transform: scale(.8);
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    opacity: 0;

    -moz-transition: -moz-transform .1s, opacity .1s;
    -webkit-transition: -webkit-transform .1s, opacity .1s;
    -ms-transition: -ms-transform .1s, opacity .1s;
    -o-transition: -o-transform .1s, opacity .1s;
    transition: transform .1s, opacity .1s;
}
div.on div.zooom {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
