input[type="checkbox"], 
input[type="radio"] 
{
    margin: 0;
    padding: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea
{
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.01);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.01);      /* required for a smooth transition in Chrome */

    -moz-transition: all .1s ease-out;
    -webkit-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;

    border: 1px solid #CDCDCD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: 0;

    margin: 0;
    padding: 7px 10px;
    
    background-color: transparent;
    
    font-family: "Helvetica neue", Helvetica, arial, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    min-width: 120px;
}

input[type="text"]:focus {
    background-color: white
}

div.flyoutcontentinner span.textbox {
    display: block !important;
    padding-right: 20px;
    overflow: hidden;
}
input#searchTextBox {
    padding: 0 20px 0 40px;
    width: 92%;
    height: 40px;
    background-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.08);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.08);
    box-shadow: 0 1px 1px rgba(0,0,0,0.08);
    position: relative; z-index: 2;
    background: white url('/img/search-normal.png') 15px center no-repeat;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
}
input#searchTextBox:focus {
    -webkit-font-smoothing: antialiased;
    background: #FFF3D3 url('/img/search-active.png') 15px center no-repeat;
    color: #c88536;
    -webkit-box-shadow: 0 1px 1px rgba(200,133,54,0.5);
    -moz-box-shadow: 0 1px 1px rgba(200,133,54,0.5);
    box-shadow: 0 1px 1px rgba(200,133,54,0.5);
}


input[type="email"][disabled],
input[type="text"][disabled],
input[type="password"][disabled],
select[disabled],
textarea[disabled]
{
    color: #A0A0A0;
    text-shadow: 1px 1px white;
    background: none;
    background-color: #F6F6F6;
    cursor: default
}

select {
    width: 277px;
    padding: 7px 5px 8px 5px;
    background: #FAFAFA !important;
}
input.inset,
textarea.inset
{
    -moz-box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px 0 rgba(0,0,0,0.1);
}

input.error {
    border-color: #E66968;
}
input.error:focus {
    border-color: #E66968;
    -moz-box-shadow: 0 0 0 1px rgba(230,105,104,0.5);
    box-shadow: 0 0 0 1px rgba(230,105,104,0.5);
}

button,
a.button {
    font-family: "Helvetica neue", Helvetica, arial, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0 8px 0 0;
    font-size: 11px;

    border: 2px solid #FFCD46;
    height: 38px; line-height: 35px; *line-height: normal;
    color: #606060;
    background: #FFCD46;
    
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    padding: 0 15px;
    min-width: 80px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
button.cancelButton,
button.cancel,
button.closeAddPolicyPanelButton,
button#cancelEditButton,
button#cancelButton {
    background: white;
    border-color: #DDDDDD;
}
button.cancelButton:hover,
button.cancel:hover,
button.closeAddPolicyPanelButton:hover,
button#cancelEditButton:hover,
button#cancelButton:hover {
    border-color: #999;
}
button  /* IE7 properties */
{
    *padding: 7px 5px 6px 5px;
    *position: relative; *z-index: 1; *top: -1px;
    *overflow: visible;
    *width: auto;
}
a.button  /* IE7 properties */
{
    *position: relative;
    *z-index: 1;
    *top: -12px;
}
.circlebutton {
    width: 40px; height: 30px;
    margin-right: 0;
    cursor: pointer;
    position: relative; z-index: 5;
}
.floright .circlebutton:last-child {
    margin: 0
}

button::-moz-focus-inner
{   
    border: 0;
    padding: 0;
    margin-top: -1px;
}
button:active, 
a.button:active {
    /*box-shadow: inset 0 1px 4px  rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.5);*/
}
button:hover,
a.button:hover {
    background-color: #F5B019;
    border-color: #F5B019;
}
button.gray,
button.gray:hover,
button.gray:active,
a.button.gray,
a.button.gray:hover,
a.button.gray:active {
    border: 1px solid #BBBBBB;
    border-bottom-color: #999999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    color: #555555 !important;
    font-weight: bold;
    text-decoration: none;
}
button.gray,
a.button.gray {
    background: #FCFCFC;
    background: linear-gradient(top, #FCFCFC 0%, #EEEEEE 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FCFCFC), color-stop(80%, #EEEEEE)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #FCFCFC 0%, #EEEEEE 80%);
    background: -o-linear-gradient(top, #FCFCFC 0%, #EEEEEE 80%);
    background: -ms-linear-gradient(top, #FCFCFC 0%, #EEEEEE 80%);
}
button.gray:hover,
a.button.gray:hover {
    background: #F0F0F0;
    background: linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(80%, #EEEEEE)); /* Chrome,Safari4+ */
    background: -moz-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
    background: -o-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
    background: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 80%);
}
button.gray:active,
a.button.gray:active {
    text-shadow: 0 -1px 0 rgba(255,255,255,0.6);
}
button[disabled],
a.button[disabled],
button[disabled]:hover,
a.button[disabled]:hover,
button[disabled]:active,
a.button[disabled]:active {
    cursor: default !important;
    color: #A8A8A8 !important;
    text-shadow: 1px 1px white !important;
    border: 1px solid #E8E8E8 !important;

    background-color: #E8E8E8;
    /*background: linear-gradient(top, #F0F0F0, #E8E8E8);
    background: -moz-linear-gradient(top, #F0F0F0, #E8E8E8);
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#E8E8E8));
    background: -o-linear-gradient(top, #F0F0F0, #E8E8E8);
    background: -ms-linear-gradient(top, #F0F0F0, #E8E8E8);*/
}
button[disabled]:active,
a.button[disabled]:active {
    box-shadow: none;
    -moz-box-shadow:none;
}

button.button_as_link,
button.button_as_link:hover,
button.button_as_link:active {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    color: #88BC00;
    font-size: 13px;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
}
button.button_as_link:hover,
button.button_as_link:active {
    text-decoration: underline;
}


button.delete,
div.flyout button
 {
    /*color: white;
    background-color: #8B8B8B;
    border-color: #8B8B8B;*/
}


.circlebutton.b1 {
    background-image: url("/img/btn1.png")
}
.circlebutton.b2 {
    background-image: url("/img/btn2.png")
}
.circlebutton.b3 {
    background-image: url("/img/btn3.png")
}
.circlebutton.b4 {
    background-image: url("/img/btn41.png")
}
.circlebutton.b4.disabled {
    background-image: url("/img/btn4.png")
}
.circlebutton.b5 {
    background-image: url("/img/btn5.png")
}
.circlebutton.b6 {
    background-image: url("/img/btn6.png")
}
.circlebutton:hover, 
.circlebutton.on {
    background-color: #D0D0D0;
}
.circlebutton.disabled:hover {
    background-color: transparent;
    cursor: default
}

/* custom stuff */
div.policy button {
    margin-bottom: 15px;
    display: block;
    width: 100%;
}
div.header div.buttons button {
    border: 1px solid #606060; height: 32px; line-height: 28px; *line-height: normal;
    color: #606060;
    background-color: transparent;
    margin: 0;
}
div.flyout button {
    width: 85px;
    margin: 0 3px;
    padding: 0 10px;
}
div.peoplewrap div.sectionheader table span {
    width: 100%;
    float: left;
    text-align: left;
    position: relative; z-index: 1; top: 10px; *top: -17px;
}
div.peoplewrap div.sectionheader table input {
    width: 85%;
}