html {
    overflow: hidden;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {padding: 0; margin: 0}
body {


    padding: 20px 50px;


    background-color: white;
    color: #444444;
    font-family: "Helvetica neue", Helvetica, arial, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 12px;
    line-height: 1;
}
.jiffi-box {
    width: 300px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}
.jiffi-box a {
    font-weight: bold;
    color: #FF4833;
    text-decoration: none;
    font-size: 12px !important; 
}
.jiffi-box a:hover {
    text-decoration: underline;
}
.jiffi-box h1 {
    line-height: 30px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: normal;
    white-space: nowrap;
}
.jiffi-box h1 a {
    float: right;
    margin-right: 20px;
}
.jiffi-box.jiffi-apps {
    padding-bottom: 10px;
    border-color: white;
}
.jiffi-head {
    background: url("logosmall.svg") no-repeat 19px 15px;
    padding: 12px 15px 0 72px;
    height: 50px;
    line-height: 25px;
    font-weight: bold;
    border-bottom: 1px solid #EEEEEE;
}
.jiffi-head input {
    font-size: 12px;
    font-weight: bold;
    border: 0;
    padding: 5px;
    font-family: inherit;
    width: 200px;
    outline: 0;
}
.jiffi-head input:focus {
    box-shadow: 0 0 0 1px #F0F0F0
}
.jiffi-tiles {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEEEEE;
}
.jiffi-tile {
    background-color: #A0A0A0;
    border-radius: 2px;
    height: 60px;
    padding: 12px 15px;
    color: white;
    margin: 0px 20px 10px 20px;
    cursor: pointer;
}
.jiffi-tile div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 150%
}
.jiffi-tile .jiffi-appname {
    font-weight: bold;
}
.jiffi-box ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.jiffi-box ol li {
    line-height: 50px;
    border-bottom: 1px solid #EEEEEE;
    position: relative; z-index: 1;
}
.jiffi-box ol li span {
    width: 72px;
    padding-right: 8px;
    display: inline-block;
    text-align: right;
}
.jiffi-box.jiffi-guide ol li::before {
    display: inline-block;
    width: 50px;
    text-align: center;
    color: #C0C0C0;
    font-weight: bold;
}
.jiffi-box.jiffi-guide ol li:nth-child(1)::before {
    content: "1";
}
.jiffi-box.jiffi-guide ol li:nth-child(2)::before {
    content: "2";
}
.jiffi-box.jiffi-guide ol li:nth-child(3)::before {
    content: "3";
}
.jiffi-box.jiffi-guide ol li.jiffi-checked::after {
    content: " ";
    position: absolute; z-index: 1; top: 15px; right: 15px;
    width: 20px; height: 20px;
    background: url("check.svg") no-repeat 0 0;
}
.jiffi-box ol li input {
    padding: 7px;
    border: 1px solid #E0E0E0;
    background: none;
}
.jiffi-box button {
    line-height: 50px;
    border: 0;
    background: none;
    width: 49.5%;
    font-family: inherit;
    font-size: 12px;
    cursor: pointer;
    outline: 0;
}
.jiffi-box button.jiffi-continue {
    color: #FF4833;
    font-weight: bold;
}
.jiffi-box button.jiffi-cancel {
    border-right: 1px solid #EEEEEE
}
.jiffi-foot {
    text-align: center;
    padding: 15px;
    line-height: 150%;
}