body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../superusers_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:250px;
    top:333px;
    width:979px;
    height:56px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:62px;
}

.u1 {
    position:absolute;
    left:2px;
    top:20px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../superusers_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1229px;
    height:64px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1235px;
    height:70px;
}

.u3 {
    position:absolute;
    left:2px;
    top:24px;
    width:1225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:214px;
    top:177px;
    width:339px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:214px;
    top:102px;
    width:330px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:326px;
    top:187px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:28px;
    top:111px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:28px;
    top:150px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:28px;
    top:189px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:28px;
    top:226px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:28px;
    top:18px;
    width:90px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:1089px;
    top:20px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:929px;
    top:25px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_line {
    background-image: url('../superusers_files/u14_line.png');
}

.u14_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u14 {
    position:absolute;
    left:28px;
    top:136px;
    width:150px;
    height:10px;
    
}

.u15_line {
    background-image: url('../superusers_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u15 {
    position:absolute;
    left:28px;
    top:175px;
    width:150px;
    height:10px;
    
}

.u16_line {
    background-image: url('../superusers_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u16 {
    position:absolute;
    left:28px;
    top:214px;
    width:150px;
    height:10px;
    
}

.u17 {
    position:absolute;
    left:1049px;
    top:119px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:214px;
    top:243px;
    width:208px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:415px;
    top:242px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:489px;
    top:242px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_line {
    background-image: url('../superusers_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:0px;
    top:4px;
    width:567px;
    height:3px;
}

.u21 {
    position:absolute;
    left:579px;
    top:252px;
    width:567px;
    height:10px;
    
}

.u22 {
    position:absolute;
    left:1165px;
    top:243px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:214px;
    top:299px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:214px;
    top:423px;
    width:208px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../superusers_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:250px;
    top:459px;
    width:979px;
    height:397px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:403px;
}

.u28 {
    position:absolute;
    left:2px;
    top:190px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:262px;
    top:471px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:1029px;
    top:560px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31_normal {
    background-image: url('../superusers_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:452px;
    top:502px;
    width:157px;
    height:42px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:48px;
}

.u32 {
    position:absolute;
    left:2px;
    top:5px;
    width:153px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../superusers_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:619px;
    top:502px;
    width:109px;
    height:42px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:48px;
}

.u34 {
    position:absolute;
    left:2px;
    top:5px;
    width:105px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../superusers_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:738px;
    top:502px;
    width:139px;
    height:42px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:48px;
}

.u36 {
    position:absolute;
    left:2px;
    top:5px;
    width:135px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../superusers_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:887px;
    top:502px;
    width:117px;
    height:42px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:48px;
}

.u38 {
    position:absolute;
    left:2px;
    top:5px;
    width:113px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../superusers_files/u37_normal.png');
}

.u39_container {
    position:absolute;
    left:1014px;
    top:502px;
    width:117px;
    height:42px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:123px;
    height:48px;
}

.u40 {
    position:absolute;
    left:2px;
    top:5px;
    width:113px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../superusers_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:264px;
    top:502px;
    width:53px;
    height:42px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:48px;
}

.u42 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../superusers_files/u41_normal.png');
}

.u43_container {
    position:absolute;
    left:1156px;
    top:502px;
    width:53px;
    height:42px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:59px;
    height:48px;
}

.u44 {
    position:absolute;
    left:2px;
    top:4px;
    width:49px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:264px;
    top:562px;
    width:613px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_line {
    background-image: url('../superusers_files/u46_line.png');
}

.u46_line {
    position:absolute;
    left:0px;
    top:4px;
    width:979px;
    height:3px;
}

.u46 {
    position:absolute;
    left:250px;
    top:594px;
    width:979px;
    height:10px;
    
}

.u47_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:264px;
    top:614px;
    width:195px;
    height:42px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u48 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_container {
    position:absolute;
    left:269px;
    top:617px;
    width:30px;
    height:36px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u50 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u51_container {
    position:absolute;
    left:469px;
    top:614px;
    width:195px;
    height:42px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u52 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_container {
    position:absolute;
    left:474px;
    top:617px;
    width:30px;
    height:36px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u55_container {
    position:absolute;
    left:674px;
    top:614px;
    width:195px;
    height:42px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u56 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_container {
    position:absolute;
    left:679px;
    top:617px;
    width:30px;
    height:36px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u58 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:265px;
    top:352px;
    width:706px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../superusers_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:327px;
    top:502px;
    width:115px;
    height:42px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:121px;
    height:48px;
}

.u61 {
    position:absolute;
    left:2px;
    top:5px;
    width:111px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u62_container {
    position:absolute;
    left:879px;
    top:614px;
    width:195px;
    height:42px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u63 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_container {
    position:absolute;
    left:884px;
    top:617px;
    width:30px;
    height:36px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u65 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u66_container {
    position:absolute;
    left:264px;
    top:666px;
    width:195px;
    height:42px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u67 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_container {
    position:absolute;
    left:269px;
    top:669px;
    width:30px;
    height:36px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u69 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u70_container {
    position:absolute;
    left:469px;
    top:666px;
    width:195px;
    height:42px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u71 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_container {
    position:absolute;
    left:474px;
    top:669px;
    width:30px;
    height:36px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u73 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u74_container {
    position:absolute;
    left:674px;
    top:666px;
    width:195px;
    height:42px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u75 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_container {
    position:absolute;
    left:679px;
    top:669px;
    width:30px;
    height:36px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u77 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u78_container {
    position:absolute;
    left:879px;
    top:666px;
    width:195px;
    height:42px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u79 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_container {
    position:absolute;
    left:884px;
    top:669px;
    width:30px;
    height:36px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u81 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u82_container {
    position:absolute;
    left:264px;
    top:718px;
    width:195px;
    height:42px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u83 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_container {
    position:absolute;
    left:269px;
    top:721px;
    width:30px;
    height:36px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u85 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u86_container {
    position:absolute;
    left:469px;
    top:718px;
    width:195px;
    height:42px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u87 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_container {
    position:absolute;
    left:474px;
    top:721px;
    width:30px;
    height:36px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u89 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u90_container {
    position:absolute;
    left:674px;
    top:718px;
    width:195px;
    height:42px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u91 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_container {
    position:absolute;
    left:679px;
    top:721px;
    width:30px;
    height:36px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u93 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../superusers_files/u47_normal.png');
}

.u94_container {
    position:absolute;
    left:879px;
    top:718px;
    width:195px;
    height:42px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u95 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_container {
    position:absolute;
    left:884px;
    top:721px;
    width:30px;
    height:36px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u97 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_container {
    position:absolute;
    left:329px;
    top:510px;
    width:37px;
    height:27px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u99 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_container {
    position:absolute;
    left:456px;
    top:509px;
    width:37px;
    height:27px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u101 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_container {
    position:absolute;
    left:622px;
    top:510px;
    width:37px;
    height:27px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u103 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_container {
    position:absolute;
    left:741px;
    top:510px;
    width:37px;
    height:27px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u105 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

