body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../singlegroup_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1229px;
    height:64px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1235px;
    height:70px;
}

.u1 {
    position:absolute;
    left:2px;
    top:24px;
    width:1225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:214px;
    top:102px;
    width:428px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:28px;
    top:18px;
    width:90px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:1089px;
    top:20px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:929px;
    top:25px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:1049px;
    top:119px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:28px;
    top:111px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:28px;
    top:150px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:28px;
    top:189px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../singlegroup_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u10 {
    position:absolute;
    left:28px;
    top:136px;
    width:150px;
    height:10px;
    
}

.u11_line {
    background-image: url('../singlegroup_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u11 {
    position:absolute;
    left:28px;
    top:175px;
    width:150px;
    height:10px;
    
}

.u12 {
    position:absolute;
    left:214px;
    top:183px;
    width:264px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:504px;
    top:183px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:578px;
    top:183px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15_line {
    background-image: url('../singlegroup_files/u15_line.png');
}

.u15_line {
    position:absolute;
    left:0px;
    top:4px;
    width:561px;
    height:3px;
}

.u15 {
    position:absolute;
    left:668px;
    top:192px;
    width:561px;
    height:10px;
    
}

.u16_normal {
    background-image: url('../singlegroup_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:250px;
    top:261px;
    width:979px;
    height:102px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:108px;
}

.u17 {
    position:absolute;
    left:2px;
    top:43px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:268px;
    top:318px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:378px;
    top:318px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:268px;
    top:280px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:579px;
    top:318px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:214px;
    top:409px;
    width:226px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../singlegroup_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:250px;
    top:447px;
    width:135px;
    height:42px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:48px;
}

.u25 {
    position:absolute;
    left:2px;
    top:13px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../singlegroup_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:395px;
    top:447px;
    width:144px;
    height:42px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:150px;
    height:48px;
}

.u27 {
    position:absolute;
    left:2px;
    top:13px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_container {
    position:absolute;
    left:258px;
    top:454px;
    width:33px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:30px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../singlegroup_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:402px;
    top:450px;
    width:39px;
    height:37px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:39px;
    height:37px;
}

.u31 {
    position:absolute;
    left:2px;
    top:10px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../singlegroup_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:549px;
    top:447px;
    width:156px;
    height:42px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:162px;
    height:48px;
}

.u33 {
    position:absolute;
    left:2px;
    top:13px;
    width:152px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_container {
    position:absolute;
    left:557px;
    top:450px;
    width:42px;
    height:37px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:42px;
    height:37px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:214px;
    top:534px;
    width:226px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../singlegroup_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:250px;
    top:571px;
    width:165px;
    height:42px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:171px;
    height:48px;
}

.u39 {
    position:absolute;
    left:2px;
    top:13px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../singlegroup_files/u24_normal.png');
}

.u40_container {
    position:absolute;
    left:250px;
    top:675px;
    width:135px;
    height:42px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:48px;
}

.u41 {
    position:absolute;
    left:2px;
    top:13px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../singlegroup_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:250px;
    top:623px;
    width:95px;
    height:42px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:48px;
}

.u43 {
    position:absolute;
    left:2px;
    top:13px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../singlegroup_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:254px;
    top:578px;
    width:37px;
    height:27px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u45 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../singlegroup_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:255px;
    top:683px;
    width:34px;
    height:27px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:27px;
}

.u47 {
    position:absolute;
    left:2px;
    top:6px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../singlegroup_files/u44_normal.png');
}

.u48_container {
    position:absolute;
    left:253px;
    top:631px;
    width:37px;
    height:27px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u49 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:425px;
    top:584px;
    width:311px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:355px;
    top:637px;
    width:311px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:395px;
    top:688px;
    width:311px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:250px;
    top:743px;
    width:195px;
    height:42px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u54 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_container {
    position:absolute;
    left:255px;
    top:746px;
    width:30px;
    height:36px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u56 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u57_container {
    position:absolute;
    left:455px;
    top:743px;
    width:195px;
    height:42px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u58 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_container {
    position:absolute;
    left:460px;
    top:746px;
    width:30px;
    height:36px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u61_container {
    position:absolute;
    left:660px;
    top:743px;
    width:195px;
    height:42px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u62 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_container {
    position:absolute;
    left:665px;
    top:746px;
    width:30px;
    height:36px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u65_container {
    position:absolute;
    left:865px;
    top:743px;
    width:195px;
    height:42px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u66 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_container {
    position:absolute;
    left:870px;
    top:746px;
    width:30px;
    height:36px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u69_container {
    position:absolute;
    left:250px;
    top:795px;
    width:195px;
    height:42px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u70 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_container {
    position:absolute;
    left:255px;
    top:798px;
    width:30px;
    height:36px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u73_container {
    position:absolute;
    left:455px;
    top:795px;
    width:195px;
    height:42px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u74 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_container {
    position:absolute;
    left:460px;
    top:798px;
    width:30px;
    height:36px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u76 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u77_container {
    position:absolute;
    left:660px;
    top:795px;
    width:195px;
    height:42px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u78 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_container {
    position:absolute;
    left:665px;
    top:798px;
    width:30px;
    height:36px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u80 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u81_container {
    position:absolute;
    left:865px;
    top:795px;
    width:195px;
    height:42px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u82 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_container {
    position:absolute;
    left:870px;
    top:798px;
    width:30px;
    height:36px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u84 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u85_container {
    position:absolute;
    left:250px;
    top:847px;
    width:195px;
    height:42px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u86 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_container {
    position:absolute;
    left:255px;
    top:850px;
    width:30px;
    height:36px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u88 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u89_container {
    position:absolute;
    left:455px;
    top:847px;
    width:195px;
    height:42px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u90 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_container {
    position:absolute;
    left:460px;
    top:850px;
    width:30px;
    height:36px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u92 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u93_container {
    position:absolute;
    left:660px;
    top:847px;
    width:195px;
    height:42px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u94 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_container {
    position:absolute;
    left:665px;
    top:850px;
    width:30px;
    height:36px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u96 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../singlegroup_files/u53_normal.png');
}

.u97_container {
    position:absolute;
    left:865px;
    top:847px;
    width:195px;
    height:42px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:201px;
    height:48px;
}

.u98 {
    position:absolute;
    left:2px;
    top:5px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_container {
    position:absolute;
    left:870px;
    top:850px;
    width:30px;
    height:36px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:36px;
}

.u100 {
    position:absolute;
    left:2px;
    top:10px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:250px;
    top:223px;
    width:289px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../singlegroup_files/u42_normal.png');
}

.u102_container {
    position:absolute;
    left:250px;
    top:899px;
    width:95px;
    height:42px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:48px;
}

.u103 {
    position:absolute;
    left:2px;
    top:13px;
    width:91px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

