body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../selection_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:250px;
    top:753px;
    width:979px;
    height:334px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:340px;
}

.u1 {
    position:absolute;
    left:2px;
    top:159px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../selection_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1229px;
    height:64px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1235px;
    height:70px;
}

.u3 {
    position:absolute;
    left:2px;
    top:24px;
    width:1225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:28px;
    top:18px;
    width:90px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:1089px;
    top:20px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:929px;
    top:25px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../selection_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:264px;
    top:852px;
    width:217px;
    height:42px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:48px;
}

.u8 {
    position:absolute;
    left:2px;
    top:5px;
    width:213px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_container {
    position:absolute;
    left:269px;
    top:855px;
    width:33px;
    height:36px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u10 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:447px;
    top:852px;
    width:34px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../selection_files/u7_normal.png');
}

.u12_container {
    position:absolute;
    left:491px;
    top:852px;
    width:217px;
    height:42px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:48px;
}

.u13 {
    position:absolute;
    left:2px;
    top:5px;
    width:213px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_container {
    position:absolute;
    left:496px;
    top:855px;
    width:33px;
    height:36px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:674px;
    top:852px;
    width:34px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../selection_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:718px;
    top:852px;
    width:241px;
    height:42px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:247px;
    height:48px;
}

.u18 {
    position:absolute;
    left:2px;
    top:5px;
    width:237px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_container {
    position:absolute;
    left:724px;
    top:855px;
    width:37px;
    height:36px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:921px;
    top:852px;
    width:38px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../selection_files/u7_normal.png');
}

.u22_container {
    position:absolute;
    left:969px;
    top:852px;
    width:217px;
    height:42px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:48px;
}

.u23 {
    position:absolute;
    left:2px;
    top:5px;
    width:213px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_container {
    position:absolute;
    left:974px;
    top:855px;
    width:33px;
    height:36px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:1152px;
    top:852px;
    width:34px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../selection_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:264px;
    top:904px;
    width:232px;
    height:42px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:238px;
    height:48px;
}

.u28 {
    position:absolute;
    left:2px;
    top:5px;
    width:228px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_container {
    position:absolute;
    left:269px;
    top:907px;
    width:35px;
    height:36px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:35px;
    height:36px;
}

.u30 {
    position:absolute;
    left:2px;
    top:10px;
    width:31px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:460px;
    top:904px;
    width:36px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../selection_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:506px;
    top:904px;
    width:237px;
    height:42px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:243px;
    height:48px;
}

.u33 {
    position:absolute;
    left:2px;
    top:5px;
    width:233px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_container {
    position:absolute;
    left:511px;
    top:907px;
    width:36px;
    height:36px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:36px;
    height:36px;
}

.u35 {
    position:absolute;
    left:2px;
    top:10px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:706px;
    top:904px;
    width:37px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../selection_files/u7_normal.png');
}

.u37_container {
    position:absolute;
    left:753px;
    top:904px;
    width:217px;
    height:42px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:48px;
}

.u38 {
    position:absolute;
    left:2px;
    top:5px;
    width:213px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_container {
    position:absolute;
    left:758px;
    top:907px;
    width:33px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:936px;
    top:904px;
    width:34px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../selection_files/u7_normal.png');
}

.u42_container {
    position:absolute;
    left:980px;
    top:904px;
    width:217px;
    height:42px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:223px;
    height:48px;
}

.u43 {
    position:absolute;
    left:2px;
    top:5px;
    width:213px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_container {
    position:absolute;
    left:985px;
    top:907px;
    width:33px;
    height:36px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:33px;
    height:36px;
}

.u45 {
    position:absolute;
    left:2px;
    top:10px;
    width:29px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:1163px;
    top:904px;
    width:34px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../selection_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:956px;
    width:1229px;
    height:160px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1235px;
    height:166px;
}

.u48 {
    position:absolute;
    left:2px;
    top:72px;
    width:1225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:262px;
    top:969px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:353px;
    top:969px;
    width:98px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:353px;
    top:1004px;
    width:88px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:353px;
    top:1039px;
    width:88px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:353px;
    top:1074px;
    width:98px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#990000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:467px;
    top:973px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:453px;
    top:1009px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:451px;
    top:1043px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:461px;
    top:1078px;
    width:189px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:338px;
    top:102px;
    width:339px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:214px;
    top:102px;
    width:330px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:326px;
    top:187px;
    width:102px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:1049px;
    top:119px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:214px;
    top:183px;
    width:208px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:415px;
    top:182px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:489px;
    top:182px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65_line {
    background-image: url('../selection_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:0px;
    top:4px;
    width:650px;
    height:3px;
}

.u65 {
    position:absolute;
    left:579px;
    top:192px;
    width:650px;
    height:10px;
    
}

.u66 {
    position:absolute;
    left:214px;
    top:707px;
    width:208px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:264px;
    top:767px;
    width:426px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:1029px;
    top:791px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69 {
    position:absolute;
    left:264px;
    top:793px;
    width:613px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_line {
    background-image: url('../selection_files/u70_line.png');
}

.u70_line {
    position:absolute;
    left:0px;
    top:4px;
    width:979px;
    height:3px;
}

.u70 {
    position:absolute;
    left:250px;
    top:825px;
    width:979px;
    height:10px;
    
}

.u71 {
    position:absolute;
    left:214px;
    top:559px;
    width:226px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../selection_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:250px;
    top:242px;
    width:979px;
    height:268px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:985px;
    height:274px;
}

.u74 {
    position:absolute;
    left:2px;
    top:126px;
    width:975px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:268px;
    top:467px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:378px;
    top:467px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:268px;
    top:261px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:16px;
    top:0px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:16px;
    top:0px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:16px;
    top:0px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:16px;
    top:0px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:16px;
    top:0px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:579px;
    top:467px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89_normal {
    background-image: url('../selection_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:250px;
    top:605px;
    width:157px;
    height:42px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:163px;
    height:48px;
}

.u90 {
    position:absolute;
    left:2px;
    top:13px;
    width:153px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../selection_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:417px;
    top:605px;
    width:109px;
    height:42px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:48px;
}

.u92 {
    position:absolute;
    left:2px;
    top:13px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../selection_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:536px;
    top:605px;
    width:139px;
    height:42px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:145px;
    height:48px;
}

.u94 {
    position:absolute;
    left:2px;
    top:13px;
    width:135px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../selection_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:254px;
    top:612px;
    width:37px;
    height:27px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u96 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../selection_files/u95_normal.png');
}

.u97_container {
    position:absolute;
    left:420px;
    top:613px;
    width:37px;
    height:27px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u98 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../selection_files/u95_normal.png');
}

.u99_container {
    position:absolute;
    left:539px;
    top:613px;
    width:37px;
    height:27px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:27px;
}

.u100 {
    position:absolute;
    left:2px;
    top:6px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:28px;
    top:111px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:28px;
    top:150px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:28px;
    top:189px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_line {
    background-image: url('../selection_files/u104_line.png');
}

.u104_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u104 {
    position:absolute;
    left:28px;
    top:136px;
    width:150px;
    height:10px;
    
}

.u105_line {
    background-image: url('../selection_files/u105_line.png');
}

.u105_line {
    position:absolute;
    left:0px;
    top:4px;
    width:150px;
    height:3px;
}

.u105 {
    position:absolute;
    left:28px;
    top:175px;
    width:150px;
    height:10px;
    
}

